/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.clear {
	clear: both;
}

.masquer {
	display: none;
}

/**
 * CSS du projet
 */

body, html {
	font-family: sans-serif;
	min-height: 100%;
}

h1 {
	font-size: 2em;
	text-transform: uppercase;
	font-weight: 200;
}

p {
	margin-bottom: 10px;
}

strong {
	font-weight: bolder;
}

#body {
	width: 900px;
	margin: 0 auto;
	background-color: #fafafa;
	padding: 20px;
	min-height: 100%;
}

/**
 * Branding
 */
#body #branding {
	background-color: #fff;
	margin-bottom: 15px;
}
#body #branding .logo {
	background: url('../images/logo.png') no-repeat;
	width: 92px;
	height: 113px;
	float: left;
	display: block;
}

#body #branding .titre {
	padding: 12px 10px;
}

#body #branding .copyright {
	text-align: right;
	font-size: 11px;
	padding-top: 5px;
}

#body #branding .titre h1 {
	text-align: center;
	padding: 10px 5px;
	background-color: #cf6439;
	color: #fff;
}

p.alDroite {
	text-align: right;
}

p.alCentre {
	text-align: center;
}

/**
 * Éléments de formulaire
 */
form label {
	display: block;
	width: 400px;
	margin-top: 14px;
	margin-bottom: 4px;
}

form fieldset label {
	display: inline;
	width: auto;
	margin: 0;
}

form input.floatLeft, form label.floatLeft, form textarea.floatLeft, form select.floatLeft {
	float: left;
	margin: 0;
	margin-right: 10px;
	width: auto;
}

form input.xlarge, form textarea.xlarge, form select.xlarge {
	width: 500px;
}
form textarea.xlarge {
	height: 250px;
}

form input.large, form lable.large, form textarea.large, form select.large {
	width: 250px;
}


form button {
	border: none;
	background-color: #cf6439;
	color: #fff;
	text-transform: uppercase;
	font-weight: bold;
	padding: 5px 10px;
}

/**
 * Spécifique
 */

#zRefA_Employe {
	display: none;
	margin-top: 5px;
}

.error {
    color: red;
}