/*
Theme Name: pmeinter
Layout: Sidebar-Content-Sidebar
*/

#primary {
	float: left;
	width: 100%;
}
#content {
	margin: 0 20%;
}
#main .widget-area {
	float: left;
	overflow: hidden;
	width: 20%;
}
#secondary { /* Sidebar 1 */
	margin: 0 0 0 -100%;
}
#tertiary { /* Sidebar 2 */
	margin: 0 0 0 -20%;
}
.site-footer {
	clear: both;
	width: 100%;
}
