

body.e2016 div#primary {width: 100%; padding-left: 0px; margin-top: 30px;}
body.e2016.map div#primary {margin-top: 0px;}

body.e2016 #body-bg {display:block;}
body.e2016.map #body-bg {display:none;}
body.e2016.map div.map { width: 100%; margin-left: 0px; }
body.e2016.map div.map form { right: 0px; }
body.e2016.map #content { width: 100%; }
body.e2016.map #page .page header.entry-header { padding-left: 0px; }
div.col_city { border-right: none; position: relative; float: none; width: 100%; margin-top: 0px; padding-bottom: 40px; min-height: 400px; }
div.col_city ul li { display: block; float: left; width: 22%; margin-left: 3%; }


body.e2016 div.menu-top-fr-container ul#menu-top-fr li#menu-item-186 {display: none;}
body.e2016 div.menu-top-fr-container ul#menu-top-fr li#menu-item-343 {display: none;}

body.e2016.map div.menu-top-fr-container ul#menu-top-fr li#menu-item-186 {display: inline;}
body.e2016.map div.menu-top-fr-container ul#menu-top-fr li#menu-item-343 {display: inline;}

body.e2016 #menu-principal-fr {top: 0px;}
body.e2016.map #menu-principal-fr { top: auto; }

body.e2016 h1.entry-title {font-size: 35px; margin-top: 0px;}

body.e2016.map h1.entry-title { margin-left: 0px; }
body.e2016.map .entry-content h2 { margin-left: 0px; }

body.e2016 #logo-pmeinter {margin-top: 55px;}
body.e2016.map #logo-pmeinter {margin-top: 25px;}
body.e2016 div.menu-thematiques-fr-container {top: 55px;}
body.e2016.map div.menu-thematiques-fr-container {top: 25px;}
/*body.e2016 #primary #content {background-color: #fff; padding: 20px 40px 40px 40px; border-radius: 10px;}*/
body.e2016 #primary #content .equipe01 * {display:none;}
body.e2016 #primary #content .equipe01 .imgEquipe, body.e2016 #primary #content .equipe01 .imgEquipe img {display: block;  text-align: center; margin-left: auto; margin-right: auto; cursor: pointer; }
body.e2016 #primary #content .equipe01 {float: left; width: 30%; margin-top: 20px; }
body.e2016 #primary #content .equipe01 > h3 { display: block; font-size: 14px;  text-align: center; }
body.e2016 #primary #content .equipe01.open { width: 100%; background-color: #FFF; padding: 20px; box-shadow: 2px 2px 20px #AAA; margin-bottom: 30px; }
body.e2016 #primary #content .equipe01.open * { display: initial; }

body.e2016 #primary #content .equipe01.open .imgEquipe { width: 140px; float: left; padding: 0px 20px 20px 0px; }
body.e2016 #primary #content .equipe01.open { display: block; }
body.e2016 #primary #content .equipe01.open h3 { float: left; padding: 10px 20px 20px 0px; }
body.e2016 #primary #content .equipe01.open p { display: block; }
body.e2016 #primary #content .equipe01.open div.box { display: block; }
body.e2016 #primary #content .equipe01.open div.box .close { display: none; }
body.e2016 #primary #content .equipe01.open div.box h3 { display: none; }
body.e2016 #primary #content .equipe01.open div.box h4 { display: none; }
body.e2016 #primary #content .equipe01.open div.box div.bio { clear: both; display: block; }
body.e2016 #primary #content .equipe01.open div.box div.bio div { display: block; }

body.e2016 #page { width: 100%; left: 0px; margin-left: 0px; }
/*body.e2016.map #page { width: 962px; left: 50%; margin-left: -481px; }*/
body.e2016.map #page { width: 100%; left: 0px; margin: 0 auto; max-width: 1200px; position: relative; }


/*body.e2016 #page #masthead { width: 962px; left: 50%; margin-left: -481px; }*/
body.e2016 #page .page header.entry-header { width: 962px; background-color: #fff; padding: 20px 40px 40px 40px; border-radius: 10px; margin-left: auto; margin-right: auto; box-sizing: border-box; }
body.e2016 #page .page .entry-content { margin-top: -10px; }
body.e2016 #page .page .entry-content div.address { width: 962px; background-color: #fff; padding: 0px 40px 0px 40px; box-sizing: border-box; margin: 0px auto; background-image: none; }
body.e2016 #page .page .entry-content > div.description { width: 962px; background-color: #fff; padding: 0px 40px 0px 40px; box-sizing: border-box; margin: 0px auto; }
body.e2016 #page .page .entry-content .equipe-layer { width: 962px; background-color: #fff; padding: 0px 40px 0px 40px; box-sizing: border-box; margin: 0px auto; }
body.e2016 #page .page .entry-content .members { width: 100%; background-color: #eee; padding: 20px 40px 20px 40px; box-sizing: border-box; margin: 0px auto; }
body.e2016 #page .page .entry-content .members .list { width: 962px; background-color: transparent; padding: 0px 40px 0px 40px; box-sizing: border-box; margin: 0px auto; }
body.e2016 #page .page .entry-content .autres-adresses { width: 962px; background-color: #fff; padding: 20px 40px 20px 40px; box-sizing: border-box; margin: 0px auto; }
body.e2016 #page .page .entry-content .formulaire { width: 962px; background-color: #fff; padding: 20px 40px 20px 40px; box-sizing: border-box; margin: 0px auto; }
body.e2016 #colophon { width: 962px; background-color: #fff; padding: 0px; box-sizing: border-box; margin: 0px auto; }
body.e2016 div.photo { width: 400px; }
body.e2016 div.photo img { width: 100%; height: auto; }
body.e2016 div.autres-adresses div.address p.address { margin-top: 20px; text-align: left; }
body.e2016 div.autres-adresses div.address { min-height: 205px; }

body.e2016 div.autres-adresses h2 { padding-left: 40px; }
body.e2016 div#gmap { width: 100%; height: 500px; }

body.e2016.op2016 { font-size: 16px; line-height: 22px; }
body.e2016.op2016 .logo { background-image: none; }
body.e2016.op2016 h1 { padding-top: 20px; font-size: 42px; text-transform: none; }
body.e2016.op2016 #logo-pmeinter { margin: 25px 0px 0px 0px; display: block; padding: 5px 7px 5px 5px; background-color: #FFF; }

body.e2016.op2016 a.logo img#logo-pmeinter { background-color: transparent; padding: 0px; }

body.e2016.op2016 .button.button-primary { background-color: #009ec8; color: #FFF !important; }
body.e2016.op2016 .button.button-primary:hover { color: #009ec8 !important; }
body.e2016.op2016 .button.button-primary.show-form {display:none;}
body.e2016.op2016 .navigation-menu .navigation-item > a { background-color: #009ec8; padding: 10px 20px; border-radius: 5px; color: #FFF; font-size: 10px;}
body.e2016.op2016 .banner:after { display: none; }
body.e2016.op2016 .services-block { margin-top: 40px; }
body.e2016.op2016 .heading { color: #009ec8; }
body.e2016.op2016 .heading:after { background: #ea8706; }
body.e2016.op2016 .team-item-content { background: rgba(0,158,200,0.8); opacity: 1; height: 25%; bottom: 0px; top: auto; padding: 8px 10px; }

body.e2016.op2016 li.team-item a:before { content: '+'; position: absolute; top: 5px; right: 5px; font-weight: bold; color: #AAA; cursor: pointer; }
body.e2016.op2016 li.team-item img { cursor: pointer; }
body.e2016.op2016 li.team-item a { cursor: pointer; }

body.e2016.op2016 .service-item p { line-height: 20px; font-size: 14px; text-align: center; }
body.e2016.op2016 .service-item-heading:after { background: #ea8706; }
body.e2016.op2016 .navigation-menu .navigation-item > a:before { background: #ea8706; }
body.e2016.op2016 .content-block-inner p { line-height: 20px; font-size: 16px; }
body.e2016.op2016 a { color: #009ec8; }
body.e2016.op2016 a.button.button-secondary { color: #FFF; }
body.e2016.op2016 a.button.button-secondary:hover { color: #009ec8 !important; }
body.e2016.op2016 .menu-thematiques-fr-container { display: none; }
body.e2016.op2016 .menu-top-fr-container { display: none; }
body.e2016.op2016 #lang-switcher { display: none; }
body.e2016.op2016 #body-bg { display: none; }
body.e2016.op2016 #colophon { display: none; }
body.e2016.op2016 #masthead h2.site-description { display: none; }
body.e2016.op2016 #masthead { height: 40px; }
body.e2016.op2016 #masthead a img { height: 40px; width: auto; position: absolute; z-index: 80; margin: 0px; top: 0px; left: 0px; margin-left: 32px; }
.contact-block-form-show-hide { display: none; }
.contact-block-form-show-hide.open { display: block; }
body.e2016.op2016 div.photo { float: none; }
body.e2016.op2016 div.photo_equipe { width: 100%; font-size: 14px; }
body.e2016.op2016 .contact-icon:before {background-image:none; border: none;}
body.e2016.op2016 .fa-map-marker:before, body.e2016.op2016 .fa-phone:before, body.e2016.op2016 .fa-fax:before {font-size:22px; padding-left: 5px; padding-top: 5px;}
body.e2016.op2016 .contact-list {font-size: 16px;}
body.e2016.op2016 .contact-list a {color: #fff;}
body.e2016.op2016 .button {border-radius: 5px;}
/*body.e2016.op2016 #menu-principal-fr li a {font-family: verdana;}*/
body.e2016.op2016 #menu-principal-fr li#menu-item-314 a {font-family: verdana; font-size: 14px; letter-spacing: -0.5px;}
body.e2016.op2016 .service-icon:before {background-size: contain; background-position: 0 0; width: 100px; height: 100px; border: none;}
body.e2016.op2016 .service-icon-performance:before {background-image: url("/wp-content/uploads/2013/02/droit-affaires.jpg"); }
body.e2016.op2016 .service-icon-customer:before {background-image: url("/wp-content/uploads/2013/02/droit-personne.jpg");}
body.e2016.op2016 .service-icon-it:before {background-image: url("/wp-content/uploads/2013/02/droit-immobilier.jpg");}
body.e2016.op2016 .service-icon-transformation:before {background-image: url("/wp-content/uploads/2016/08/droit-agricole-1-modifiée.jpg"); background-size: 100% 100%;}
body.e2016.op2016 h3.service-item-heading a { text-transform: none; color: #343434; margin-bottom: .2em; font-weight: 700; font-size: 16px; line-height: 24px; font-family: Verdana, sans-serif, cursive; text-decoration: none; }

body.e2016.op2016 .gform_wrapper label.gfield_label {float:none;}
body.e2016.op2016 div#input_4_1 {width: 100%; margin-left: 0px;}
body.e2016.op2016 div#input_4_1 span {width: 50%; padding-right:0px;}
body.e2016.op2016 div#input_4_1 span#input_4_1_3_container {padding-right: 2%;}
body.e2016.op2016 .gform_wrapper form .left_label input.medium {width: 100%;}
body.e2016.op2016 textarea#input_4_7 {width: 100%;}
body.e2016.op2016 .gform_wrapper ul.left_label li ul.gfield_checkbox li {float:left; width: 50%;}
body.e2016.op2016 .gform_wrapper ul.left_label li ul.gfield_checkbox li input {margin-top: 0px;}
body.e2016.op2016 .gform_wrapper ul li.field_description_below div.ginput_container_checkbox {margin-top: 0px;}
body.e2016.op2016 .gform_footer.left_label {margin-left: 0px;}
body.e2016.op2016 ul#gform_fields_4 input:focus {background-color: #fff;}
body.e2016.op2016 span.fa { font-family: verdana, sans-serif; font-size: 16px; }
body.e2016.op2016 span.fa:before { font-family: FontAwesome; }

body.e2016.op2016 .banner { background-image: url('./one-pager/img/banner-cloud.jpg'); }
body.e2016.op2016 .contact-feature-block { background-image: url('./one-pager/img/middle-banner.jpg'); }
body.e2016.op2016 .social-icon { background-image: url('./one-pager/img/social-icons.svg'); }
body.e2016.op2016 .icon-list-inline li { border-left: 1px solid #009ec8; }

body.e2016.op2016 .header-social-list { padding-top: 20px; padding-right: 20px; background-color: #FFF; width: 100px; padding: 5px 10px; border-radius: 5px; right: 20px; position: absolute; top: -50px; }
body.e2016.op2016 .icon-list-inline li:first-child { border-left: none; }

body.e2016.op2016 .button:hover { text-decoration: none; color: #444; background: #f9f9f9; }
body.e2016.op2016 .navigation { position: relative; overflow: visible; }

body.e2016.op2016 div.autres-adresses div.address div.phone { position: relative; left: 0px; top: 0px; width: 100%; }
body.e2016.op2016 div.autres-adresses div.address div.phone h4 { color: #ea8706; display: inline; float: left; padding-right: 10px; padding-top: 2px; }
body.e2016.op2016 div.autres-adresses div.address div.phone p.tel { font-size: 14px; margin-top: -10px; min-width: 200px; }
body.e2016.op2016 div.autres-adresses div.address div.fax { position: relative; left: 0px; top: 0px; }
body.e2016.op2016 div.autres-adresses div.address div.fax h4 { color: #ea8706; display: inline; float: left; padding-right: 10px; padding-top: 2px; }
body.e2016.op2016 div.autres-adresses div.address div.fax p.fax { min-width: 200px; font-size: 14px; margin-top: -10px; }
body.e2016.op2016 div.autres-adresses div.address div.fax { margin-top: -20px; }
body.e2016.op2016 div.autres-adresses div.address.col-sm-3 { width: 25%; float: left; clear: none; }
body.e2016.op2016 div.autres-adresses { position: relative; }

body.e2016.op2016 #input_4_7 { background-color: #FFF !important; }

body.e2016 .fb-page { display: block !important; margin-left: 40px; }
body.e2016 .col-6.with-facebook li { width: 50%; min-height: 300px; }


body.e2016.op2016 .news-item-fourth > a { height: 320px; overflow: hidden; }
body.e2016.op2016 .news-item-fourth > a img { width: 100%; height: auto; min-height: 320px; }


body.e2016.op2016 .ss-phone { position: absolute; left: 50%; margin-left: 200px; top: 418px; background-color: #343434; }
body.e2016.op2016 .ss-phone div a { color: #FFF !important; font-size: 12px; padding: 1em 2.8em; text-decoration: none; font-weight: 400; display: inline-block; position: relative; }
body.e2016.op2016 .ss-phone div { position: relative; float: left; text-align: center; }
body.e2016.op2016 .ss-phone div.toll-free a { padding-bottom: 0px; }
body.e2016.op2016 .ss-phone div small { display: block; color: #FFF; font-size: 10px; padding-bottom: 10px;   }


#banner-etudes { overflow: hidden; background: none; height: 500px; width: 100%; position: absolute; z-index: 1; }
/*#banner-etudes img { width: 120%; height: auto; margin-top: 0px; margin-left: 0px; }
#banner-etudes img.cycle-slide { transition: all 18s ease; margin-left: -2em; }*/
body.e2016.op2016 .top-banner-container { background-color: rgba(0,0,0,0.3); position: absolute; width: 100%; height: 500px; z-index: 20; }


body.e2016.op2016 .what-we-do-block .description { text-align: justify; }
body.e2016.op2016 .team-profile-content-block { text-align: justify; }


body.epme-inter-notaires-vallee-de-la-gatineau-inc a.logo { display: none; }


@media (max-width: 400px) {
    body.e2016.op2016 .ss-phone div a { padding: 5px 2.8em; }
    body.e2016.op2016 .ss-phone { width: 185px; }
}

video#bgvid {
    position: absolute;
    top: 0;
    left: 0px;
    right: 0px;
    width: 100%;
    height: auto;
    z-index: -100;
    background: url('/wp-content/themes/pmeinter/img/body-bg.jpg') no-repeat;
    background-size: cover;
}

@media (max-width: 1139px) {
    body.e2016.op2016 .ss-phone { top: 420px; }
    .navigation-menu .navigation-item {margin: 0px 12px;}



}

@media (max-width: 1041px) {
    body.e2016.op2016 .ss-phone { margin-left: 0px; right: 0px; left: inherit; }
}







@media (max-width: 992px) {
    body.e2016 .col-6.with-facebook li { width: 100%; min-height: 250px; }
}

@media (max-width: 979px) {
    body.e2016.op2016 .navigation-menu .navigation-item > a {padding: 10px 12px;}
    .navigation-menu .navigation-item {margin: 0px }
    body.e2016.op2016 #menu-principal-fr li#menu-item-314 a {letter-spacing: -0.8px;}
    #menu-principal-fr li {background-size: 90%;}
    #menu-principal-fr li {width: 130px;}
    body.e2016.op2016 #menu-principal-fr li#menu-item-314 a {font-size: 12px;}
    #menu-principal-fr li a {font-size: 13px;}
    body.e2016 #page #masthead {margin-left: -450px; width: 100%;}
    body.e2016 div.photo {width: 100%;}
 }
@media (max-width:870px) {
    #menu-principal-fr li {width: 112px;}
    body.e2016.op2016 .banner-inner {padding-top:30px;}
}
@media (max-width: 840px) {
    body.e2016.op2016 .ss-phone {top: 390px;}
}

@media (max-width: 768px) {
    body.e2016.op2016 .ss-phone { top: 20px; left: 50px; right: inherit; background-color: transparent; }
    body.e2016.op2016 .navigation {z-index:1;}
    .navigation-menu .navigation-item {margin: 10px 0px;}

    body.e2016.op2016 .services-block-inner .col-6.with-facebook {width: 100%;}
}

@media (max-width: 600px) {
    body.e2016 .services-block-inner .col-6 { width: 100%; float: none; }
    video#bgvid {width: 120%;}

    body.e2016.op2016 .banner  {height: 400px!important;}
    body.e2016.op2016 .button {padding: 10px 15px;}
}

@media (max-width: 500px) {
    video#bgvid {width: 160%;}
}

@media (max-width: 400px) {
    video#bgvid {width: 200%;}
    body.e2016.op2016 .banner-inner {padding-top: 0px;}

}
@media (max-width: 1100px) {
    body.e2016.op2016 div.autres-adresses div.address.col-xs-6 { width: 50%; float: left; clear: none; }
}

@media (max-width: 740px) {
	body.e2016.op2016 #logo-pmeinter {width: 33%; margin-top: 88px;}
	body.e2016.op2016 h1 {font-size: 30px; margin-left: 60px;}

}

body #back-top { display: none; }
body.e2016.op2016 #back-top { z-index: 999; display: block; width: 75px; padding: 5px; background-color: rgba(255,255,255,0.6); height: 25px; position: fixed; color: #000; bottom: 10px; left: 10px; text-decoration: none; }
body.e2016.op2016 #back-top span { font-family: 'Verdana', sans-serif; padding-left: 10px; }

body.e2016.op2016 .modal-inner .team-profile-image img { width: 200px; height: auto; }

@media only screen and (min-width: 740px) {
    body.e2016.op2016 .modal-inner {
        margin: 20px auto;
        width: 600px !important;
    }
}

@media only screen and (min-width: 1040px) {
    body.e2016.op2016 .modal-inner {
        margin: 20px auto;
        width: 900px !important;
    }
}


