body.demo2018 #page {width: 100%; left: 0px; margin: 0 auto; max-width: 1200px; position: relative;}
body.demo2018 .header {position: relative;}
body.demo2018 .header h1 {position: absolute; font-size: 50px; color: #fff; left: calc(50% - 236px); top: 320px; text-shadow: 2px 2px 5px #000;}
body.demo2018 .header h2 {position: absolute; font-size: 26px; color: #fff; left: calc(50% - 278px); top: 420px; text-shadow: 2px 2px 5px #000;}
body.demo2018 .header .social {position: absolute; bottom: 42px; left: 15px;}
body.demo2018 .header .social a {font-size: 50px; color: #fff; text-shadow: 2px 2px 5px #000; text-decoration: none;}
body.demo2018 .header .social a .fa {display: block; padding-bottom: 10px;}
body.demo2018 .header .social a span {display: none;}
body.demo2018 #primary {float: none; width: 100%; padding: 0px;}
body.demo2018 #primary h2 {text-align: center;}


header .phone-free { clear: both; text-align: center; font-weight: bold; padding: 10px 40px; text-decoration: none; }
body.op2016 header .phone-free { display: none; }


li.accessible { padding-left: 40px; font-size: 40px; }