body.home div.entry-content h2 { font-size: 28px !important; font-weight: normal; }
body.home div#slideshow div.nav ul li { height: 58px !important; }
body #colophon div.menu-footer-thematiques-fr-container ul#menu-footer-thematiques-fr li ul.sub-menu li { line-height: 12px; padding: 0px; margin: 0px; font-size: 12px; }
body #colophon div.menu-footer-thematiques-fr-container ul#menu-footer-thematiques-fr li ul.sub-menu li a { font-size: 11px; }
body #colophon div.menu-footer-thematiques-fr-container ul#menu-footer-thematiques-fr li > a { font-size: 12px; }
body #colophon div#menu-footer-secteurs ul#menu-footer-secteurs-fr li { font-size: 11px; line-height: 13px; padding: 0px; margin: 0px; height: auto; }
body #colophon div#menu-footer-secteurs > a { font-size: 12px; }
body.home div#slideshow ul.photo li.b5 h3 { color: #FFF; }
body.home div#slideshow ul.photo li.b2 h3 { right: 0px; top: 70px; width: 200px; }
