

body.demo2018 { background-image: url('./img/always_grey.png'); background-repeat: repeat; color: #222; }


body.demo2018 #page #masthead { background-color: #FFF; }
body.demo2018 #page div.header { background-color: #FFF; }
body.demo2018 #page #primary { background-color: #FFF; }
body.demo2018.page-template-home #page #primary { background-color: transparent; }

body.demo2018 #page #masthead { background-image: none; height: 120px; position: absolute; z-index: 100; }
body.demo2018 #page #masthead h2.site-description { background-image: none; display: none; }
body.demo2018 #page #masthead li#menu-item-186 { display: none !important; }
body.demo2018 #page #masthead li#menu-item-193 { display: none !important; }
body.demo2018 #page #masthead li#menu-item-314 { display: none !important; }

body.demo2018 #page #masthead li#menu-item-184 { display: none !important; }
body.demo2018 #page #masthead li#menu-item-180 { display: none !important; }
body.demo2018 #page #masthead li#menu-item-185 { display: none !important; }
/*body.demo2018 #page #masthead li#menu-item-183 { display: none !important; }*/
body.demo2018 #page #masthead li#menu-item-182 { display: none !important; }

body #page #masthead li#menu-item-909 { display: none !important; }

body.demo2018 #page #masthead li#menu-item-909 { display: block !important; width: 12%; }
body.demo2018 #page #masthead li#menu-item-1217 { width: 12%; }
body.demo2018 #page #masthead li#menu-item-183 { width: 12%; }



body.demo2018 #page #map { position: absolute; width: 100px; height: 100px; z-index: 1000; top: auto; background-image: none; bottom: 200px; left: 50%; width: 45%; }
body.demo2018 #page #map h3 { width: 100%; text-align: left; margin-top: 20px; color: #FFFFFF; text-transform: none; font-size: 30px; font-weight: normal; font-family: 'DroidSans'; text-shadow: 1px 1px 1px #000; }
body.demo2018 #page #map #citydd { position: relative; left: auto; top: auto; width: 200px; opacity: 1; border: none; background-color: rgba(0,0,0,0.2); color: #FFF; text-shadow: 1px 1px 1px #000; font-weight: bold; padding: 5px; height: 30px; }
body.demo2018 #page #map #scity { position: relative; left: auto; top: auto; width: 190px; opacity: 1; border: none; background-color: rgba(0,0,0,0.2); color: #FFF; text-shadow: 1px 1px 1px #000; font-weight: bold; padding: 5px; height: 30px; display: block; margin-top: 10px; }

body.demo2018 #page #map #scity::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */ color: #FFF; opacity: 1; /* Firefox */ }
body.demo2018 #page #map #scity:-ms-input-placeholder { /* Internet Explorer 10-11 */ color: #FFF; }
body.demo2018 #page #map #scity::-ms-input-placeholder { /* Microsoft Edge */ color: #FFF; }
body.demo2018 #page #map #linktomap { display: none; }

body.demo2018 #page #map #mapsubmit { position: relative; top: auto; right: auto; width: 40px; height: 40px; background-image: url(img/loupebold.jpg); background-repeat: no-repeat; background-position: center center; font-size: 1px; overflow: hidden; text-indent: -1000px; border: none;   background-color: transparent;margin-left: 5px; float: left; margin-left: 220px; margin-top: -40px; background-size: 60%; background-color: transparent; box-shadow: none; background-color: #EEE; }


#menu-principal-fr { width: 100%; height: 40px; background-color: #222; }

body #page #masthead li#menu-item-925 { display: none !important; }
body.demo2018 #page #masthead li#menu-item-925 { display: block !important; width: 21%; }


body #page #masthead li#menu-item-917 { display: none !important; }
body.demo2018 #page #masthead li#menu-item-917 { display: block !important; width: 25% !important; text-align: right !important; padding-right: 20px !important; box-sizing: border-box; }
body #page #masthead li#menu-item-919 { display: none !important; }
body.demo2018 #page #masthead li#menu-item-919 { display: block !important; width: 18%; }

body.demo2018 #page #masthead hgroup { position: absolute; z-index: 100; }
body.demo2018 #page #masthead div.menu-top-fr-container { width: 100%; background-color: #FFF; height: 20px; text-align: right; position: relative; top: 5px; left: auto; }
body.demo2018 #page #masthead div.menu-top-fr-container ul li { text-align: right; margin-right: 35px; }

body.demo2018 #page #masthead div.menu-thematiques-fr-container { display: none; }
body.demo2018 #page #masthead .main-navigation { float: none; }
body.demo2018 #page #masthead #logo-pmeinter { margin-top: 0px; }
body.demo2018 #page #masthead ul#menu-principal-fr { position: relative; bottom: auto; left: auto; margin-top: 15px; }
body.demo2018 #page #masthead ul#menu-principal-fr li { position: relative; float: left; display: block; margin-left: 0px; text-align: center; height: 40px; background-image: none !important; overflow: visible; background-color: #222; }
body.demo2018 #page #masthead ul#menu-principal-fr li a { color: #CCC; text-transform: uppercase; padding-top: 10px; }
body.demo2018 #page #masthead ul#menu-principal-fr li a:hover { color: #FFF; text-decoration: underline; }
body.demo2018 #page #masthead ul#menu-principal-fr li ul.sub-menu li { position: relative; background-color: rgba(0, 0, 0, 0.75); float: none; width: 100% !important; }
body.demo2018 #page #masthead ul#menu-principal-fr li ul.sub-menu li a { width: 100%; }
body.demo2018 #page #masthead ul#menu-principal-fr li ul.sub-menu { float: none; width: 100% !important; margin-top: 16px; }

body.demo2018 #page #masthead ul#menu-principal-fr li ul.sub-menu li#menu-item-911:before { content: ' '; display: block; position: absolute; left: 0px; top: 0px; width: 10px; height: 100%; background-color: rgba(165, 208, 40, 1); border-bottom: solid 1px #a5d028; }
body.demo2018 #page #masthead ul#menu-principal-fr li ul.sub-menu li#menu-item-914:before { content: ' '; display: block; position: absolute; left: 0px; top: 0px; width: 10px; height: 100%; background-color: rgba(0, 135, 209, 1); border-bottom: solid 1px #0087d1; }
body.demo2018 #page #masthead ul#menu-principal-fr li ul.sub-menu li#menu-item-915:before { content: ' '; display: block; position: absolute; left: 0px; top: 0px; width: 10px; height: 100%; background-color: rgba(245, 130, 0, 1); border-bottom: solid 1px #f58200; }
body.demo2018 #page #masthead ul#menu-principal-fr li ul.sub-menu li#menu-item-910:before { content: ' '; display: block; position: absolute; left: 0px; top: 0px; width: 10px; height: 100%; background-color: rgba(237, 22, 22, 1); border-bottom: solid 1px #ed1616; }

body.demo2018 #page #masthead ul#menu-principal-fr li ul.sub-menu li#menu-item-911 { border-bottom: solid 1px #a5d028; }
body.demo2018 #page #masthead ul#menu-principal-fr li ul.sub-menu li#menu-item-914 { border-bottom: solid 1px #0087d1; }
body.demo2018 #page #masthead ul#menu-principal-fr li ul.sub-menu li#menu-item-915 { border-bottom: solid 1px #f58200; }
body.demo2018 #page #masthead ul#menu-principal-fr li ul.sub-menu li#menu-item-910 { border-bottom: solid 1px #ed1616; }


body.demo2018 footer#colophon { background-color: #222; }
body.demo2018 footer#colophon div.credits { display: none; }
body.demo2018 footer#colophon div#menu-footer-thematiques { background-image: none; width: 100%; }
body.demo2018 footer#colophon div#menu-footer-thematiques li#menu-item-205 { width: 22%; border-top: solid 8px #a5d028; }
body.demo2018 footer#colophon div#menu-footer-thematiques li#menu-item-252 { width: 22%; border-top: solid 8px #0087d1; }
body.demo2018 footer#colophon div#menu-footer-thematiques li#menu-item-253 { width: 22%; border-top: solid 8px #f58200; }
body.demo2018 footer#colophon div.menu-footer-secteurs { border-top: solid 8px #ed1616; }
body.demo2018 footer#colophon div#menu-footer-thematiques li a { color: #CCC; }
body.demo2018 footer#colophon div#menu-footer-thematiques li ul.sub-menu li a { color: #CCC; }
body.demo2018 footer#colophon div#menu-footer-thematiques li ul.sub-menu li.last a { color: #CCC; margin-top: 15px; font-style: italic; display: block; }
body.demo2018 footer#colophon div.menu-footer-secteurs > a { color: #CCC; }
body.demo2018 footer#colophon div.menu-footer-secteurs ul.menu li { color: #CCC; }
body.demo2018 footer#colophon div.menu-footer-secteurs { width: 22%; right: 65px; }
body.demo2018 footer#colophon div.footer-ville-facebook { position: relative; }
body.demo2018 footer#colophon .fb-page { position: absolute; right: 65px; display: block !important; top: 45px; }
body.demo2018 footer#colophon div#menu-footer-city { float: left; width: 48%; display: block; }
body.demo2018 footer#colophon div#menu-footer-city h3 { background-image: none; width: 100%; color: #CCC; text-transform: uppercase; }
body.demo2018 footer#colophon div#menu-footer-city div.content { padding: 10px 30px 30px 30px; border: none; border-bottom: none; height: auto; margin-top: 0px; line-height: 15px; text-align: justify; width: 100%; box-sizing: border-box; }
body.demo2018 footer#colophon div#menu-footer-city div.content a { color: #CCC; }
body.demo2018 footer#colophon div.menu-footer-form-fr-container { float: left; margin-top: 0px; margin-right: 0; clear: none; margin-top: 60px; }
body.demo2018 footer#colophon div.menu-footer-form-fr-container ul#menu-footer-form-fr li { background-image: none; padding-bottom: 24px; }
body.demo2018 footer#colophon div.menu-footer-form-fr-container ul#menu-footer-form-fr li a { color: #CCC; text-transform: uppercase; font-size: 14px; }
body.demo2018 footer#colophon div.coordonnees { padding-bottom: 100px; }
body.demo2018 footer#colophon div.coordonnees h3, body.demo2018 footer#colophon div.coordonnees div { color: #CCC; }
body.demo2018 footer#colophon div.coordonnees h3 a { color: #CCC; }
body.demo2018 footer#colophon div.coordonnees #logo-pmeinter-footer { margin-left: 40px; }
body footer#colophon div.coordonnees h3 a { display: none; }
body.demo2018 footer#colophon div.coordonnees h3 a { display: inline; }
body.demo2018 footer#colophon div.coordonnees div.email { display: none; }

body.demo2018.page-template-home #main div.header { padding-top: 40px; }
body.demo2018.page-template-home #main div.header img.size-full { width: 100%; height: auto; }
body.demo2018.page-template-home #main #content h2 { margin: 30px 0px 0px 0px; text-align: center; font-size: 24px; font-weight: bold; }
body.demo2018.page-template-home #main #content .row { width: 100%; position: relative; padding: 15px; box-sizing: border-box; clear: both; }
body.demo2018.page-template-home #main #content .row .col-sm-3 { position: relative; float: left; width: 25%; padding: 15px; box-sizing: border-box; }
body.demo2018.page-template-home #main #content div.avantage { min-height: 250px; background-repeat: no-repeat; background-position: center center; background-size: contain; display: block; width: 100%;  box-sizing: border-box; }
body.demo2018.page-template-home #main #content div.avantage h3 { display: block; height: 100%; width: 100%; box-sizing: border-box; padding-top: 45%; }
body.demo2018.page-template-home #main #content div.avantage h3 a { font-size: 18px; text-decoration: none; color: #fff; text-align: center; text-shadow: 2px 2px 5px #000; display: block; vertical-align: middle; padding: 10px; width: 100%; box-sizing: border-box; text-transform: uppercase; }
body.demo2018.page-template-home #main #content div.avantage > a { position: absolute; color: #444; text-decoration: none; bottom: 20px; right: 25px; text-align: right; font-size: 16px; text-shadow: 2px 2px 2px #BBB;  }

body.demo2018.page-template-home #page #primary #content .row { background-color: #FFF; }
body.demo2018.page-template-home #page #main #primary #content .row.videos { width: 100%; background-color: transparent; padding: 30px; box-sizing: border-box; text-align: center; }
body.demo2018.page-template-home #main #content .row.videos .video { width: 100%; text-align: center; }
body.demo2018.page-template-home #main #content .row.videos .video iframe { display: block; margin-left: auto; margin-right: auto; padding-top: 40px; padding-bottom: 20px; }

body.demo2018.page-template-home #main #content .row.videos .video p > a > img { display: block; margin-left: auto; margin-right: auto; padding-top: 40px; padding-bottom: 20px; float: none; }

body.demo2018.page-template-home #main #content .row.videos div.center #prev { position: absolute; left: -10px; font-size: 72px; top: 190px; color: #FFF; }
body.demo2018.page-template-home #main #content .row.videos div.center #next { position: absolute; right: -10px; font-size: 72px; top: 190px; color: #FFF; }
body.demo2018.page-template-home #main #content .row.format_legal { background-color: #F5F5F5 !important; background-size: cover; background-position: 140px center; background-repeat: no-repeat; }
body.demo2018.page-template-home #main #content .row.format_legal h2 { text-shadow: 2px 2px 5px #FFF; text-align: left; font-weight: bold; color: #222; padding: 30px; font-size: 45px; margin: 0px; }
body.demo2018.page-template-home #main #content .row.format_legal h3 { text-shadow: 2px 2px 5px #FFF; text-align: right; font-weight: bold; color: #222; padding: 0px; font-size: 38px; margin: 0px;margin-top: -62px; width: 450px; }

body.demo2018.page-template-home #main #content .row.format_legal p { font-size: 20px; text-align: center; line-height: 32px; color: #222; max-width: 450px; }
body.demo2018.page-template-home #main #content .row.format_legal p a { color: #222; }
body.demo2018.page-template-home #main #content .row.format_legal p a.btn { display: inline-block; float: left; padding: 15px 10px; text-align: center; color: #FFF; font-weight: normal; background-color: #a5d028; border-radius: 10px; text-decoration: none; font-size: 18px; line-height: 16px; min-height: 25px; margin-right: 20px; }
body.demo2018.page-template-home #main #content .row.format_legal p a.btn small { display: block; }
body.demo2018.page-template-home #main #content .row.format_legal p a.btn:first-child { padding-top: 22px; }

body.demo2018.page-template-default #main { padding-top: 150px; }
body.demo2018.page-template-default #primary { width: 65%; float: left; background-color: #FFF; padding: 40px; box-sizing: border-box; }
body.demo2018.page-template-default #secondary { width: 30%; float: left; }
body.demo2018.page-template-default #secondary #souspages { background-color: #FFF; padding: 10px; margin-top: 0px; max-width: 299px; box-sizing: border-box; }
body.demo2018.page-template-default #secondary > div { margin-left: auto; margin-right: auto; }
body.demo2018.page-template-default #secondary #text_icl-2 { text-align: center; }
body.demo2018.page-template-default #secondary #text_icl-3 { text-align: center; }
body.demo2018.page-template-default #secondary #text_icl-4 { text-align: center; }

body.demo2018.home #slideshow { display: none; }
/*body.demo2018.home #map { display: none; }*/
body.demo2018 #body-bg { display: none; }

body.demo2018.recherche.q-city #main { padding-top: 150px; }
body.demo2018.recherche.q-city #primary { width: 65%; float: left; background-color: #FFF; padding: 40px; box-sizing: border-box; }
body.demo2018.recherche.q-city #secondary { width: 30%; float: left; }
body.demo2018.recherche.q-city #secondary #souspages { background-color: #FFF; padding: 10px; margin-top: 0px; max-width: 299px; box-sizing: border-box; }
body.demo2018.recherche.q-city #secondary > div { margin-left: auto; margin-right: auto; }
body.demo2018.recherche.q-city #secondary #text_icl-2 { text-align: center; }
body.demo2018.recherche.q-city #secondary #text_icl-3 { text-align: center; }
body.demo2018.recherche.q-city #secondary #text_icl-4 { text-align: center; margin-top: 0px; }

body.demo2018.page-id-16 #secondary div, body.page-id-16 #secondary aside { display: none; }
body.demo2018.page-id-16 div#primary { width: 100%; }

body.demo2018.page-id-23 #secondary div, body.page-id-23 #secondary aside { display: none; }
body.demo2018.page-id-23 div#primary { width: 100%; }

body.demo2018.page-id-21 #secondary div, body.page-id-21 #secondary aside { display: none; }
body.demo2018.page-id-21 div#primary { width: 100%; }

body.demo2018.page-id-25 #secondary div, body.page-id-25 #secondary aside { display: none; }
body.demo2018.page-id-25 div#primary { width: 100%; }

body.demo2018.page-id-513 #secondary div, body.page-id-513 #secondary aside { display: none; }
body.demo2018.page-id-513 div#primary { width: 100%; }

body.demo2018.map #main { background-color: #FFF; padding: 40px; box-sizing: border-box; padding-top: 150px;   }
body.demo2018.e2016 #page .page header.entry-header { width: 100%; }

body.demo2018 .format_legal #gform_wrapper_8 { display: none; width: 40%; position: absolute; right: 45px; top: 140px; padding: 20px; box-sizing: border-box; background-color: rgba(255,255,255,0.4); }

body.demo2018 .format_legal #gform_wrapper_8.active { display: block; }
body.demo2018 .format_legal #gform_wrapper_8.gform_validation_error { top: 20px; display: block; }
body.demo2018 .format_legal #gform_wrapper_8.gform_validation_error .gfield_description.validation_message { display: none; }
body.demo2018 .format_legal #gform_confirmation_message_8 { background-color: rgba(255,255,255,0.8); width: 40%; float: right; padding: 40px; position: absolute; right: 45px; top: 195px; font-weight: bold; }

body.demo2018.page-template-page-blog #content { padding-top: 150px; }

body.demo2018.page-template-page-blog #content article.featured { width: 50%; height: 400px; margin-bottom: -1px; }
body.demo2018.page-template-page-blog #content article { width: 25%; float: left; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; height: 200px; border: 5px solid #fff; }
body.demo2018.page-template-page-blog #content article.featured .inner { padding: 25px; }
body.demo2018.page-template-page-blog #content article .inner { height: 100%; display: block; padding: 10px; background: #000; position: relative; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
body.demo2018.page-template-page-blog #content article .bg.img {
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    -ms-behavior: url(/backgroundsize.min.htc);
    background-position: center;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
    opacity: 0.7;
}
body.demo2018.page-template-page-blog #content > ul { list-style-type: none; padding: 0px; margin: 0px; }
body.demo2018.page-template-page-blog #content article > a { text-decoration: none; }
body.demo2018.page-template-page-blog #content article .bg { display: block; height: 100%; width: 100%; position: absolute; top: 0; left: 0; z-index: 1; }

body.demo2018.page-template-page-blog #content article .bg.color { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; }
body.demo2018.page-template-page-blog #content article .bg { display: block; height: 100%; width: 100%; position: absolute !important; top: 0; left: 0; z-index: 1;  }

body.demo2018.page-template-page-blog #content article.featured h2, body.demo2018.page-template-page-blog #content article.featured .auteur { position: relative; bottom: auto; top: auto; left: auto; }
body.demo2018.page-template-page-blog #content article .auteur { display: none; font-size: 14px; color: #fff; position: absolute; bottom: 10px; left: 10px; }
body.demo2018.page-template-page-blog #content article.featured .auteur { display: block; }
body.demo2018.page-template-page-blog #content article.featured .intro { color: #fff; font-size: 14px; margin-top: 20px; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; }

body.demo2018.page-template-page-blog #content article.featured .more { border: 1px solid #FFFFFF; bottom: 15px; display: block; padding: 10px 30px; position: absolute; right: 15px; font-size: 15px; color: #fff; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; }

body.demo2018.page-template-page-blog #content article.featured .more .icon { font-size: 20px; line-height: 1em; vertical-align: -6px; }


body.demo2018.page-template-page-blog #secondary { display: none; }






















body.demo2018.page-template-page-blog #content article.featured hgroup { position: relative; top: 8%; }
body.demo2018.page-template-page-blog #content article .inner * { position: relative; z-index: 2; }
body.demo2018.page-template-page-blog #content article.featured h2, body.demo2018.page-template-page-blog #content article.featured .auteur, body.demo2018.page-template-page-blog #content article.featured h2, body.demo2018.page-template-page-blog #content article.featured .auteur { position: relative; bottom: auto; top: auto; left: auto; }
body.demo2018.page-template-page-blog #content article h2 { font-size: 14px; color: #fff; margin: 0; position: absolute !important; top: 10px; left: 10px; font-weight: normal; }

body.demo2018.page-template-page-blog #content article .featured h1 { font-size: 40px; top: auto; }
body.demo2018.page-template-page-blog #content article h1 { font-size: 20px; color: #fff; text-transform: uppercase; top: 25%; }


body.demo2018.e2016.etude #page { max-width: 100%; }
body.demo2018.e2016.etude { color: #555; background-image: none; background-color: #FFF; }

body.demo2018.e2016.etude #page #masthead ul#menu-principal-fr { margin-top: 0px; }
body.demo2018.e2016.op2016.etude #masthead { height: 20px !important; width: 100% !important; left: 0px !important; margin-left: 0px !important; }
body.demo2018.e2016.op2016.etude #masthead hgroup { display: none; }
body.demo2018.e2016.etude #page #masthead ul#menu-principal-fr li { height: 20px; width: 25% !important; text-align: center !important; }
body.demo2018.e2016.etude #page #masthead ul#menu-principal-fr li a { padding-top: 0px; }
body.demo2018.e2016.etude #page #masthead ul#menu-principal-fr li.active ul.sub-menu { margin-top: -5px; }

@media (max-width: 768px) {
    body.demo2018.page-template-home #main #content .row .col-xs-12 { width: 100%; float: none; }
}
