
@media (max-width: 768px) {

    body.demo2018 { width: 100%; overflow: hidden; }

    body.home #body-bg {display: none;}
    body.e2016 #page div#primary { width: 100%; padding-left: 0px; margin-top: 30px; }
    body.e2016.map #page div#primary { margin-top: 0px; }

    body.e2016 #page #logo-pmeinter {margin-top: 55px;}
    body.e2016.map #page #logo-pmeinter {margin-top: 25px;}
    body.e2016 #page div.menu-thematiques-fr-container {top: 55px;}
    body.e2016.map #page div.menu-thematiques-fr-container {top: 25px;}

    html body.e2016 #page { width: 100%; left: 0px; margin-left: 0px; }
    html body.e2016.map #page { width: 100%; left: 0px; margin-left: 0px; }
    html body.e2016 #page #masthead { width: 100%; left: 0px; margin-left: 0px; }
    html body.e2016 #page .page header.entry-header { width: 100%; }
    html body.e2016 #page .page .entry-content { margin-top: -10px; }
    body.e2016 #page #colophon { width: 100%; }
    body.e2016.op2016 #page .menu-thematiques-fr-container { display: none; }
    body.e2016.op2016 #page .menu-top-fr-container { display: none; }
    body.e2016.op2016 #page #lang-switcher { display: none; }
    body.e2016 #page #body-bg { display:none; }
    body.e2016.map #page #body-bg { display:none; }
    body.e2016.op2016 #page #body-bg { display: none; }
    body.e2016.op2016 #page #colophon { display: none; }
    body.e2016.op2016 #menu-principal-fr li.menu-item.active ul.sub-menu li {background-image:none!important}
    body.e2016.map div.map form { position: relative; top: 0px; right: 0px; text-align: center; padding-bottom: 10px; width: 80%; margin-left: 10%; }

    body.e2016.map .entry-content h2 { text-align: center; }
    html body.e2016.map h1.entry-title { text-align: center; width: 100%; padding-left: 20px; padding-right: 20px; }
    html body.e2016.map div.map { width: 80%; margin-left: 10%; height: 600px; }

    html body.e2016.map div.col_city ul li { display: block; float: none; width: 80%; margin-left: 10%; padding-bottom: 5px; padding-top: 5px; border-bottom: 1px solid #CCC; }
   #menu-footer-city { display: none; }

    html body #page { position: relative; z-index: 2; width: 100%; left: 0px; margin-left: 0px; }
    html body #page #masthead { height: 195px; }

    html body.e2016.op2016 #page #masthead { height: 40px; }

    html body.e2016.op2016 #page #masthead #logo-pmeinter { margin-top: 60px; }

    html body.e2016.op2016 .logo { display: none; }
    html body.e2016.op2016 h1 { margin-left: 0px; font-weight: 700; }
    html body.e2016.op2016 .header-social-list { display: none; }
    html body.e2016.op2016 .header-inner .navigation ul.navigation-menu { margin-top: 85px; }

    body #page #masthead #logo-pmeinter { margin-left: 10px; margin-top: 45px; }
    body #page #masthead .site-description { display: none; }
    body.e2016.op2016 #masthead h2.site-description { display: none; }
    body.e2016.op2016.etude #logo-pmeinter {padding: 1px;}
    body.e2016.op2016.etude #masthead a img { height: 60px;}

    body.e2016.op2016 .team-item-content strong { font-size: 12px; }

    body #page #masthead div.menu-thematiques-fr-container { left: 120px; top: 45px; }
    body #page #masthead nav.site-navigation.main-small-navigation h1.menu-toggle { margin-left: 10px; margin-top: 6px; color: #FFF; font-size: 14px; font-weight: normal; padding-top: 0px; padding-bottom: 0px; }
    body #page #masthead nav.site-navigation.main-small-navigation { position: relative; z-index: 999; top: 0px; background-color: #444; box-shadow: 1px 1px 10px #000; width: 100%; min-height: 35px; }
    body #page #masthead nav.site-navigation.main-small-navigation #menu-principal-fr { position: relative; bottom: 0px; left: 0px; width: 100%; margin-left: 0px; margin-bottom: 0px; padding-left: 0px; }
    body #page #masthead nav.site-navigation.main-small-navigation #menu-principal-fr li { background-image: none!important; float: none; width: 100%; min-height: 30px; height: auto; border-bottom: 1px solid #555; background-color: #444; }
    body #page #masthead nav.site-navigation.main-small-navigation #menu-principal-fr li a { display: block; text-indent: 0px; width: 100%; height: 25px; font-weight: bold; text-align: left; color: #FFF; background-color: #444; text-decoration: none; padding-left: 10px; }
    body #page #masthead nav.site-navigation.main-small-navigation #menu-principal-fr li:hover { background-color: #444; }
    body #page #masthead nav.site-navigation.main-small-navigation #menu-principal-fr li:hover a { color: #FFF; }

    body #page #masthead #menu-principal-fr li.menu-item.active ul.sub-menu { position: relative; padding-left: 25px; margin-top: 0px; }
    body #page #masthead #menu-principal-fr li.menu-item.active ul.sub-menu li { border-bottom: none; }

    body #page #search-2 { z-index: 999; }
    body #page #search-2 #searchsubmit { width: 25px; height: 25px; background-color: #FFF; background-position: center center; position: absolute; display: block; right: 0px; top: 1px; }
    body #page #search-2 form input#s { margin-left: 0px; margin-right: 10px; }

    body #page #secondary .fb-page { display: none !important; }
    html body.e2016 .fb-page { display: none !important; }

    html body.e2016 div.photo { width: 100%; margin-left: 0px; }
    html body.e2016.op2016 div.autres-adresses div.address.col-xs-6 { width: 100%; float: none; }

    body #page #map h3 { padding-top: 20px; }
    body #page #map #mapsubmit { right: 100px; display: flex;}
    @media (min-width: 347px){
        body.demo2018 #page .header #map #mapsubmit { margin-left: 210px; margin-top: -27px;}
    }
    body.demo2018.page-template-home #main #content .row.format_legal p a.btn:first-child{ margin-bottom: 22px; margin-right: 30%; margin-left: 30%; min-width: 40%;}
    body #page div#primary { float: none; width: 90%; margin-right: 0px; padding: 10px; box-sizing: border-box;}

    body.demo2018.page-template-home #main #content .row.format_legal p a.btn {margin-bottom: 22px; margin-right: 30%; margin-left: 30%; max-width: 40%;}

    body #page div#secondary { width: 100%; float: none; margin-bottom: 20px; margin-top: 20px;}

    body #page #content #post-175 p {text-align: left;}

    table#searchresult tr td { display: block; height: 30px; padding: 12px 12px 24px 0; border: none; border-top: dotted 1px #8d8d8d; }

    body.demo2018.page-template-home #main #primary #content div.avantage > a { bottom: 15px; right: 35px; margin: 5px;}

    body #page #text_icl-22, body #page #text_icl-33 { margin-left: 0px; }

    body #page #colophon {padding-left: 5px;}
    body #page #colophon div#menu-footer-thematiques { width: 100%; height: auto; background-image: none; padding-right: 0px;}
    body #page #colophon div.menu-footer-thematiques-fr-container ul#menu-footer-thematiques-fr li { float: none; width: 100%; display: block; }

    body #page #colophon div.menu-footer-thematiques-fr-container { padding-left: 15px; }
    body #page #colophon .menu-footer-secteurs { width: 100%; position: relative; top: 0px; right: 0px; left: 15px; }
    body #page #colophon .menu-footer-secteurs ul.menu-footer-secteurs-fr li {float: none;}
    .menu-footer-secteurs span.spacer {display: none;}

    body #page #colophon div#menu-footer-city { margin-right: 20px; margin-left: 5px; width: 100%; margin-bottom: 20px; }
    body #page #colophon div#menu-footer-city div.content { width: 100%; height: auto; }
    body #page #colophon div.menu-footer-form-fr-container { clear: both; float: none; margin-top: 0px; margin-right: 0px; margin-left: 20px; }
    body #page #colophon div.coordonnees div.address { width: 200px; position: relative; left: 110px; top: 0px; }
    body #page #colophon div.coordonnees div.email { width: 200px; position: relative; left: 110px; top: 0px; }
    body #page #colophon div.coordonnees div.credits { width: 150px; position: relative; left: 110px; top: 30px; }

    body #page div.menu-top-fr-container { position: absolute; bottom: 0px; left: 0px; z-index: 999; width: 100%; background-color: #FFF; top: auto; height: 24px;}
    body #page div.menu-top-fr-container ul { margin-bottom: 0px; margin-left: 0px; }
    body.demo2018 #page #masthead div.menu-top-fr-container ul li { margin-right: 0px !important; background-image: none; padding-right: 0px; }
    body.demo2018 #page #masthead div.menu-top-fr-container ul li a { color: #FFF; }
    html body.demo2018 #page #masthead div.menu-top-fr-container { width: 185px; height: 20px; position: absolute; z-index: 2000; background-color: transparent; right: 20px; }
    body.demo2018 #page div#primary { width: 100%; }

    @media (max-width: 430px) {
        body .demo2018 #post-175 { text-align: left;}
    }

    body.page-id-23 ul.col li { height: auto; min-height: 30px;}

    body.home div#slideshow { display: none; width: 100%; }
    body.home div#slideshow ul.photo { width: 100%; position: relative; top: 0px; right: 0px; }

    body.home div#map { position: relative; width: 100%; top: 0px; }


    body.home div.entry-content h2 { text-align: center; }

    body.page-id-21 .alignleft { display: block; float: none; margin-top: 0px !important; }
    body.page-id-21 .entry-title { margin-left: 0px; }
    body.page-id-21 ul.col {float: none; width: 100%; }
    body.page-id-21 div.entry-content { width: 100%; }

    body.page-id-513 .alignleft { display: block; float: none; margin-top: 0px !important; }
    body.page-id-513 .entry-title { margin-left: 0px; }
    body.page-id-513 ul.col {float: none; width: 100%; }
    body.page-id-513 div.entry-content { width: 100%; }

    body.page-id-23 .alignleft { display: block; float: none; margin-top: 0px !important; }
    body.page-id-23 .entry-title { margin-left: 0px; }
    body.page-id-23 ul.col {float: none; width: 100%; }
    body.page-id-23 div.entry-content { width: 100%; }

    body.page-id-25 .alignleft { display: block; float: none; margin-top: 0px !important; }
    body.page-id-25 .entry-title { margin-left: 0px; }
    body.page-id-25 ul.col {float: none; width: 100%; }
    body.page-id-25 div.entry-content { width: 100%; }

    body.page-id-16 .alignleft { display: block; float: none; margin-top: 0px !important; margin-bottom: 40px !important;}
    body.page-id-16 .entry-title { margin-left: 0px; }
    body.page-id-16 ul.col {float: none; width: 100%; }
    body.page-id-16 div.entry-content { width: 100%; }
    body.page-id-16 ul#secteurs { margin-left: 25px; }

    body #masthead div.phone-free {margin-left: 20%; }
    @media (max-width: 325px) {
        body #masthead div.phone-free {font-size: 10px; }
    }


/*body.home div#map, body.home div#primary, body.home #body-bg, body.home #souspages, body.home div#secondary, body.home #colophon div.coordonnees, body.home #colophon div#menu-footer-city {display: none;}*/



    body div.social.mobile span.IN-widget { padding: 20px; float: left; }
    body div.social.mobile .fb-page.fb_iframe_widget { width: auto; }
    body div.social.mobile { display: block !important; }







}
