/*
Theme Name: pmeinter
Theme URI: http://underscores.me/
Author: Underscores.me
Author URI: http://underscores.me/
Description: Description
Version: 1.0
License: GNU General Public License
License URI: license.txt
Tags:

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

Resetting and rebuilding styles have been helped along thanks to the fine work of
Eric Meyer http://meyerweb.com/eric/tools/css/reset/index.html
along with Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/
and Blueprint http://www.blueprintcss.org/
*/


/* =Reset
-------------------------------------------------------------- */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	border: 0;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}
html {
	font-size: 62.5%; /* Corrects text resizing oddly in IE6/7 when body font-size is set using em units http://clagnut.com/blog/348/#c790 */
	overflow-y: scroll; /* Keeps page centred in all browsers regardless of content height */
	-webkit-text-size-adjust: 100%; /* Prevents iOS text size adjust after orientation change, without disabling user zoom */
	-ms-text-size-adjust: 100%; /* www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/ */
}
body {
	background: #fff;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
	display: block;
}
ol, ul {
	list-style: none;
}
table { /* tables still need 'cellspacing="0"' in the markup */
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	font-weight: normal;
	text-align: left;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}
a:focus {
	outline: thin dotted;
}
a:hover,
a:active { /* Improves readability when focused and also mouse hovered in all browsers people.opera.com/patrickl/experiments/keyboard/test */
	outline: 0;
}
a img {
	border: 0;
}


/* =Global
----------------------------------------------- */

body,
button,
input,
select,
textarea {
	color: #404040;
	font-family: sans-serif;
	font-size: 16px;
	line-height: 1.5;
}

/* Headings */
h1,h2,h3,h4,h5,h6 {
	clear: both;
}
hr {
	background-color: #ccc;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

/* Text elements */
p {
	margin-bottom: 1.5em; text-align: justify;
}
ul, ol {
	margin: 0 0 1.5em 3em;
}
ul {
	list-style: disc;
}
ol {
	list-style: decimal;
}
ul ul, ol ol, ul ol, ol ul {
	margin-bottom: 0;
	margin-left: 1.5em;
}
dt {
	font-weight: bold;
}
dd {
	margin: 0 1.5em 1.5em;
}
b, strong {
	font-weight: bold;
}
dfn, cite, em, i {
	font-style: italic;
}
blockquote {
	margin: 0 1.5em;
}
address {
	margin: 0 0 1.5em;
}
pre {
	background: #eee;
	font-family: "Courier 10 Pitch", Courier, monospace;
	font-size: 15px;
	font-size: 1.5rem;
	line-height: 1.6;
	margin-bottom: 1.6em;
	padding: 1.6em;
	overflow: auto;
	max-width: 100%;
}
code, kbd, tt, var {
	font: 15px Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}
abbr, acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}
mark, ins {
	background: #fff9c0;
	text-decoration: none;
}
sup,
sub {
	font-size: 75%;
	height: 0;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sup {
	bottom: 1ex;
}
sub {
	top: .5ex;
}
small {
	font-size: 75%;
}
big {
	font-size: 125%;
}
figure {
	margin: 0;
}
table {
	margin: 0 0 1.5em;
	width: 100%;
}
th {
	font-weight: bold;
}
button,
input,
select,
textarea {
	font-size: 100%; /* Corrects font size not being inherited in all browsers */
	margin: 0; /* Addresses margins set differently in IE6/7, F3/4, S5, Chrome */
	vertical-align: baseline; /* Improves appearance and consistency in all browsers */
	*vertical-align: middle; /* Improves appearance and consistency in all browsers */
}
button,
input {
	line-height: normal; /* Addresses FF3/4 setting line-height using !important in the UA stylesheet */
	*overflow: visible;  /* Corrects inner spacing displayed oddly in IE6/7 */
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid #ccc;
	border-color: #ccc #ccc #bbb #ccc;
	border-radius: 3px;
	background: #e6e6e6;
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.5), inset 0 15px 17px rgba(255,255,255,0.5), inset 0 -5px 12px rgba(0,0,0,0.05);
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.5), inset 0 15px 17px rgba(255,255,255,0.5), inset 0 -5px 12px rgba(0,0,0,0.05);
	box-shadow: inset 0 1px 0 rgba(255,255,255,0.5), inset 0 15px 17px rgba(255,255,255,0.5), inset 0 -5px 12px rgba(0,0,0,0.05);
	color: rgba(0,0,0,.8);
	cursor: pointer; /* Improves usability and consistency of cursor style between image-type 'input' and others */
	-webkit-appearance: button; /* Corrects inability to style clickable 'input' types in iOS */
	font-size: 12px;
	font-size: 1.4rem;
	line-height: 1;
	padding: 1.12em 1.5em 1em;
	text-shadow: 0 1px 0 rgba(255,255,255,.8);
}
button:hover,
html input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
	border-color: #ccc #bbb #aaa #bbb;
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.8), inset 0 15px 17px rgba(255,255,255,0.8), inset 0 -5px 12px rgba(0,0,0,0.02);
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.8), inset 0 15px 17px rgba(255,255,255,0.8), inset 0 -5px 12px rgba(0,0,0,0.02);
	box-shadow: inset 0 1px 0 rgba(255,255,255,0.8), inset 0 15px 17px rgba(255,255,255,0.8), inset 0 -5px 12px rgba(0,0,0,0.02);
}
button:focus,
html input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
button:active,
html input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active {
	border-color: #aaa #bbb #bbb #bbb;
	-webkit-box-shadow: inset 0 -1px 0 rgba(255,255,255,0.5), inset 0 2px 5px rgba(0,0,0,0.15);
	-moz-box-shadow: inset 0 -1px 0 rgba(255,255,255,0.5), inset 0 2px 5px rgba(0,0,0,0.15);
	box-shadow: inset 0 -1px 0 rgba(255,255,255,0.5), inset 0 2px 5px rgba(0,0,0,0.15);
}
input[type="checkbox"],
input[type="radio"] {
	box-sizing: border-box; /* Addresses box sizing set to content-box in IE8/9 */
	padding: 0; /* Addresses excess padding in IE8/9 */
}
input[type="search"] {
	-webkit-appearance: textfield; /* Addresses appearance set to searchfield in S5, Chrome */
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box; /* Addresses box sizing set to border-box in S5, Chrome (include -moz to future-proof) */
	box-sizing: content-box;
}
input[type="search"]::-webkit-search-decoration { /* Corrects inner padding displayed oddly in S5, Chrome on OSX */
	-webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner { /* Corrects inner padding and border displayed oddly in FF3/4 www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/ */
	border: 0;
	padding: 0;
}
input[type=text],
input[type=email],
input[type=password],
textarea {
	color: #666;
	border: 1px solid #ccc;
	border-radius: 3px;
}
input[type=text]:focus,
input[type=email]:focus,
input[type=password]:focus,
textarea:focus {
	color: #111;
}
input[type=text],
input[type=email],
input[type=password] {
	padding: 3px;
}
textarea {
	overflow: auto; /* Removes default vertical scrollbar in IE6/7/8/9 */
	padding-left: 3px;
	vertical-align: top; /* Improves readability and alignment in all browsers */
	width: 98%;
}

/* Links */
a {
	color: royalblue;
}
a:visited {
	color: purple;
}
a:hover,
a:focus,
a:active {
	color: midnightblue;
}

/* Alignment */
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}
.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}
.aligncenter {
	clear: both;
	display: block;
	margin: 0 auto;
}

/* Text meant only for screen readers */
.assistive-text {
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
}


/* =Menu
----------------------------------------------- */

.main-navigation {
	clear: both;
	display: block;
	float: left;
	width: 100%;
}
.main-navigation ul {
	list-style: none;
	margin: 0;
	padding-left: 0;
}
.main-navigation li {
	float: left;
	position: relative;
}
.main-navigation a {
	display: block;
	text-decoration: none;
}
.main-navigation ul ul {
	-moz-box-shadow: 0 3px 3px rgba(0,0,0,0.2);
	-webkit-box-shadow: 0 3px 3px rgba(0,0,0,0.2);
	box-shadow: 0 3px 3px rgba(0,0,0,0.2);
	display: none;
	float: left;
	position: absolute;
		top: 1.5em;
		left: 0;
	z-index: 99999;
}
.main-navigation ul ul ul {
	left: 100%;
	top: 0;
}
.main-navigation ul ul a {
	width: 200px;
}
.main-navigation ul ul li {
}
.main-navigation li:hover > a {
}
.main-navigation ul ul :hover > a {
}
.main-navigation ul ul a:hover {
}
.main-navigation ul li:hover > ul {
	/*display: block;*/
}
.main-navigation li.current_page_item a,
.main-navigation li.current-menu-item a {
}

/* Small menu */
.menu-toggle {
	cursor: pointer;
}
.main-small-navigation .menu {
	display: none;
}


/* =Content
----------------------------------------------- */

.sticky {
}
.hentry {
	margin: 0 0 1.5em;
}
.entry-meta {
	clear: both;
}
.byline {
	display: none;
}
.single .byline,
.group-blog .byline {
	display: inline;
}
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}
.page-links {
	clear: both;
	margin: 0 0 1.5em;
}


/* =Asides
----------------------------------------------- */

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}


/* =Media
----------------------------------------------- */

.site-header img,
.entry-content img,
.comment-content img,
.widget img {
	max-width: 100%; /* Fluid images for posts, comments, and widgets */
}
.site-header img,
.entry-content img,
.comment-content img[height],
img[class*="align"],
img[class*="wp-image-"] {
	height: auto; /* Make sure images with WordPress-added height and width attributes are scaled correctly */
}
/*.site-header img,
.entry-content img,*/
img.size-full {
	max-width: 100%;
	width: auto; /* Prevent stretching of full-size images with height and width attributes in IE8 */
}
.entry-content img.wp-smiley,
.comment-content img.wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}
.wp-caption {
	border: 1px solid #ccc;
	margin-bottom: 1.5em;
	max-width: 100%;
}
.wp-caption img[class*="wp-image-"] {
	display: block;
	margin: 1.2% auto 0;
	max-width: 98%;
}
.wp-caption-text {
	text-align: center;
}
.wp-caption .wp-caption-text {
	margin: 0.8075em 0;
}
.site-content .gallery {
	margin-bottom: 1.5em;
}
.gallery-caption {
}
.site-content .gallery a img {
	border: none;
	height: auto;
	max-width: 90%;
}
.site-content .gallery dd {
	margin: 0;
}
.site-content .gallery-columns-4 .gallery-item {
}
.site-content .gallery-columns-4 .gallery-item img {
}

/* Make sure embeds and iframes fit their containers */
embed,
iframe,
object {
	max-width: 100%;
}


/* =Navigation
----------------------------------------------- */

.site-content .site-navigation {
	margin: 0 0 1.5em;
	overflow: hidden;
}
.site-content .nav-previous {
	float: left;
	width: 50%;
}
.site-content .nav-next {
	float: right;
	text-align: right;
	width: 50%;
}

/* =Comments
----------------------------------------------- */

.comment-content a {
	word-wrap: break-word;
}
.bypostauthor {
}

/* =Widgets
----------------------------------------------- */

.widget {
	margin: 0 0 1.5em;
}

/* Make sure select elements fit in widgets */
.widget select {
	max-width: 100%;
}

/* Search widget */


/* =Infinite Scroll
----------------------------------------------- */

/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll #nav-above, /* Older / Newer Posts Navigation (always hidden) */
.infinite-scroll #nav-below,
.infinite-scroll.neverending #colophon { /* Theme Footer (when set to scrolling) */
	display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before */
.infinity-end.neverending #colophon {
	display: block;
}


@font-face {
    font-family: 'DroidSans';
    src: url('fonts/Droid-Sans/DroidSans.ttf'), url('fonts/Droid-Sans/DroidSans.woff') format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DroidSansBold';
    src: url('fonts/Droid-Sans/DroidSans-Bold.ttf'), url('fonts/Droid-Sans/DroidSans-Bold.woff') format("woff");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'ColaThin';
    src: url('fonts/Colaborate/ColabThi.otf'), url('fonts/Colaborate/ColabThi.woff') format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ColaBold';
    src: url('fonts/Colaborate/ColabBol.otf'), url('fonts/Colaborate/ColabBol.woff') format("woff");
    font-weight: bold;
    font-style: normal;
}





#body-bg { display: none; position: absolute; top: 0px; width: 100%; height: 900px; z-index: 1; }
body.home #body-bg { display: block; }
#page { position: absolute; z-index: 2; width: 962px; left: 50%; margin-left: -481px; }
#masthead { position: relative; width: 100%; height: 214px; background-image: url('img/header-bg.png'); background-repeat: no-repeat; background-position: center top; }
#masthead h1.site-title { display: none; }
#masthead h2.site-description { display: block; position: absolute; top: 53px; left: 467px; width: 446px; height: 78px; background-image: url('img/slogan-bg-240.png'); background-repeat: no-repeat; overflow: hidden; text-indent: -1000px; }
#logo-pmeinter { margin: 25px 0px 0px 30px; }
#logo-pmeinter-footer { margin: 25px 0px 0px 30px; width: 53px; height: auto; }

#lang_sel_footer { display: none; }
#lang-switcher { display: none; position: absolute; top: 5px; right: 5px; }
#lang-switcher #lang_sel_list { width: 60px; text-align: center; }
#lang-switcher #lang_sel_list ul { width: 60px; border: none; list-style-type: none; padding: 0px; margin: 0px; }
#lang-switcher #lang_sel_list ul li { width: 60px; list-style-type: none; padding: 0px; margin: 0px; }
#lang-switcher #lang_sel_list ul li a { color: #8d8d8d; font-size: 13px; text-decoration: none; padding-right: 10px; padding-left: 5px; font-family: "Trebuchet MS"; display: inline; line-height: auto; border: none; background-color: transparent; }
#lang-switcher #lang_sel_list ul li a.lang_sel_sel { display: none; }

div.menu-top-fr-container { position: absolute; top: 5px; left: 505px; }
div.menu-top-fr-container ul#menu-top-fr { list-style-type: none; }
div.menu-top-fr-container ul#menu-top-fr li { display: inline; }
div.menu-top-fr-container ul#menu-top-fr li a { color: #8d8d8d; font-size: 13px; text-decoration: none; padding-right: 10px; padding-left: 5px; font-family: "Trebuchet MS"; }
div.menu-top-fr-container ul#menu-top-fr li#menu-item-186 { background-image: url('img/separator.jpg'); background-repeat: no-repeat; background-position: right center; }
div.menu-top-fr-container ul#menu-top-fr li#menu-item-343 { padding-right: 10px; background-image: url('img/lock.jpg'); background-repeat: no-repeat; background-position: right center; }

div.menu-thematiques-fr-container { position: absolute; top: 25px; left: 145px; }
div.menu-thematiques-fr-container ul#menu-thematiques-fr { list-style-type: none; margin: 0px; padding: 0px; }
div.menu-thematiques-fr-container ul#menu-thematiques-fr li { list-style-type: none; margin: 0px; padding: 0px; padding-bottom: 4px; width: 188px; height: 20px; overflow: hidden; background-image: url('img/theme1-bg.png'); background-repeat: no-repeat; background-position: center center; }
div.menu-thematiques-fr-container ul#menu-thematiques-fr li a { text-decoration: none; padding-left: 8px; color: #FFF; font-family: "DroidSans"; font-size: 12px; text-transform: uppercase; }
div.menu-thematiques-fr-container ul#menu-thematiques-fr li#menu-item-190 { background-image: url('img/theme2-bg.png'); }
div.menu-thematiques-fr-container ul#menu-thematiques-fr li#menu-item-191 { background-image: url('img/theme3-bg.png'); }
div.menu-thematiques-fr-container ul#menu-thematiques-fr li#menu-item-189 { background-image: url('img/theme4-bg.png'); }
div.menu-thematiques-fr-container ul#menu-thematiques-fr li#menu-item-535 { background-image: url('img/theme5-bg.png'); }
div.menu-thematiques-fr-container ul#menu-thematiques-fr li#menu-item-548 { background-image: url('img/theme4-bg.png'); }

#menu-principal-fr { position: absolute; bottom: 14px; left: 26px; }
#menu-principal-fr li { position: relative; float: left; display: block; margin-left: 3px; width: 144px; height: 39px; background-image: url('img/menu-bg.jpg'); background-repeat: no-repeat; background-position: center center; overflow: hidden; text-align: center; }
#menu-principal-fr li#menu-item-193 { width: 40px; height: 39px; background-image: url('img/menu-bg-accueil.jpg'); }
#menu-principal-fr li a { color: #189fc6; font-family: 'DroidSans'; font-size: 0.9em; padding-top: 8px; }
#menu-principal-fr li#menu-item-193 a { display: block; width: 40px; height: 39px; overflow: hidden; text-indent: -1000px; }
#menu-principal-fr li#menu-item-314 a { font-family: 'DroidSans'; }
#menu-principal-fr li.current-page-ancestor, #menu-principal-fr li.current-menu-item { background-image: url('img/menu-bg-current.jpg'); }
#menu-principal-fr li.current-page-ancestor a, #menu-principal-fr li.current-menu-item a { color: #FFF; }
#menu-principal-fr li.current-page-ancestor a:hover, #menu-principal-fr li.current-menu-item a:hover { color: #189fc6; }
#menu-principal-fr li.menu-item ul.sub-menu { display: none; position: absolute; background-image: none; box-shadow: none; -webkit-box-shadow: none; }

#menu-principal-fr li.menu-item.active, #menu-principal-fr li.menu-item.active:hover { background-image: url('img/menu-bg-current.jpg') !important; overflow: visible; background-repeat: no-repeat; background-position: center top; }
#menu-principal-fr li.menu-item-193.active, #menu-principal-fr li.menu-item-193.active:hover { background-image: url('img/menu-bg-accueil.jpg')!important;}
#menu-principal-fr li.menu-item.active a, #menu-principal-fr li.menu-item.active:hover a { color: #FFF; }
#menu-principal-fr li.menu-item.active ul.sub-menu { position: absolute; margin-left: 0px; padding-left: 0px; margin-top: 10px; z-index: 100; }
#menu-principal-fr li.menu-item.active ul.sub-menu li { margin-left: 0px; padding-left: 0px; background-image: url('img/sub-menu-bg.png') !important; background-position: center center; height: 30px; }
#menu-principal-fr li.menu-item.active ul.sub-menu li a { width: 144px; font-size: 12px; }
#menu-principal-fr li.menu-item.active ul.sub-menu li a:hover { color: #FFF; }

#search-2 { position: absolute; top: 5px; right: 5px; padding-right: 20px; /*background-image: url('img/separator.jpg'); background-repeat: no-repeat; background-position: right center;*/ }
#search-2 h1.widget-title { display: none; }
#search-2 form input#s { margin-left: 25px; width: 130px; height: 19px; border: solid 1px #dededd; font-size: 90%; }
#searchsubmit { width: 15px; height: 25px; background-image: url('img/loupe.jpg'); background-repeat: no-repeat; background-position: center top; font-size: 1px; overflow: hidden; text-indent: -1000px; border: none; background-color: transparent; margin-left: 5px; }

body.home .entry-header h1 { display: none; }
.entry-header h1 { color: #189fc6; font-family: 'ColaThin'; font-size: 32px; text-transform: uppercase; }
.entry-header h1 strong { font-family: 'ColaBold'; }

div.entry-content h2 { color: #425357; font-family: 'DroidSans'; font-size: 20px; text-transform: uppercase; line-height: 30px; padding-bottom: 20px; } /*COULEUR ORIGINAL #5c777f*/
div.entry-content h3 { padding-top: 10px; padding-bottom: 10px; color: #425357; font-family: 'DroidSans'; font-size: 22px; text-transform: uppercase; } /*COULEUR ORIGINAL #5c777f*/

body.home div.entry-content h2 { color: #189fc6; font-family: 'ColaThin'; font-size: 32px; text-transform: uppercase; line-height: 30px; }
div.entry-content h2 strong { font-family: 'ColaBold'; }

div.entry-content a { color: #189fc6; text-decoration: none; }
div.entry-content a:hover { text-decoration: underline; }

div#primary { padding: 10px; color:#425357 ; font-family: 'DroidSans'; } /* COULEUR ORIGINAL color: #5c777f*/
div#primary p strong { color: #e98823; }

div#primary { float: left; width: 620px; margin-right: 12px; }
div#secondary { width: 310px; float: right; margin-bottom: 20px; }

body.home div#slideshow { position: relative; width: 650px; height: 309px; background-image: url('img/slideshow-bg.jpg'); background-repeat: no-repeat; background-position: center center; margin-top: 20px; margin-left: 3px; }
body.home div#slideshow div.nav { margin: 0px; padding: 0px; position: absolute; width: 152px; height: 307px; top: 0px; left: 0px; z-index: 20; background-image: url('img/menu-slideshow-bg.png'); background-repeat: no-repeat; background-position: center center; }
body.home div#slideshow div.nav ul { margin: 0px; padding: 0px; }
body.home div#slideshow div.nav ul li { list-style-type: none; display: block; width: 154px; height: 62px; margin: 0px; padding: 0px; background-repeat: no-repeat; }
body.home div#slideshow div.nav ul li.hover { background-image: url('img/menu-slideshow-hover.png');  }
body.home div#slideshow div.nav ul li a { display: block; text-transform: uppercase; padding: 10px 0px 0px 15px; text-decoration: none; color: #5d7880; font-family: 'DroidSans'; font-size: 14px; }
body.home div#slideshow div.nav ul li#menu-item-293 a { padding-top: 20px; }
body.home div#slideshow div.nav ul li a span { color: #e98823; font-size: 16px; display: block; }
body.home div#slideshow div.nav ul li.hover a { color: #FFF; }
body.home div#slideshow div.nav ul li.hover a span { color: #FFF; }

body.home div#slideshow ul.photo { margin: 0px; padding: 0px; position: absolute; width: 491px; height: 283px; top: 12px; right: 12px; }
body.home div#slideshow ul.photo li { position: relative; display: none; list-style-type: none; padding: 0px; margin: 0px; }
body.home div#slideshow ul.photo li h3 { position: absolute; font-family: 'DroidSansBold'; color: #002f55; font-weight: bold; font-size: 20px; text-shadow: 0 0 10px #FFF,0 0 10px #FFF; width: 230px; right: 10px; top: 50px; }

body.home div#slideshow ul.photo li.b6 h3 { top: 10px; right: 40px; width: 430px; }

body.home div#slideshow ul.photo li a { display: block; width: 134px; height: 37px; background-image: url('img/en-savoir-plus.png'); background-repeat: no-repeat; background-position: center center; color: #FFF; text-decoration: none; padding-top: 14px; text-indent: 17px; position: absolute; bottom: 15px; right: 15px; z-index: 900; }
body.home div#slideshow ul.photo li.hover { display: block; }
body.home div#map { position: absolute; right: 0px; top: 234px; width: 300px; height: 306px; background-image: url('img/home-map-bg.jpg'); background-repeat: no-repeat; background-position: center center; }

#text_icl-2, #text_icl-3 { display: none; position: relative; margin-left: 10px; background-color: #FFF; width: 298px; border: solid 1px #ebebeb; background-image: url('img/box-footer-bg.png'); background-repeat: no-repeat; background-position: center bottom; }

#text_icl-22, #text_icl-33 { float: left; display: block; position: relative; margin-left: 10px; background-color: #FFF; width: 298px; border: solid 1px #ebebeb; background-image: url('img/box-footer-bg.png'); background-repeat: no-repeat; background-position: center bottom; }

#text_icl-2 div.textwidget, #text_icl-3 div.textwidget { padding: 0px 15px 15px 75px; }
#text_icl-2 h1, #text_icl-3 h1 { padding: 15px 15px 15px 75px; }
#text_icl-2 a.suite, #text_icl-3 a.suite { display: block; height: 20px; width: 20px; cursor: pointer; overflow: hidden; position: absolute; bottom: 10px; right: 15px; }
#text_icl-2 a.suite span, #text_icl-3 a.suite span { display: none; }
#text_icl-2 p, #text_icl-3 p { color: #425357; font-family: 'DroidSans'; font-size: 14px; } /* COULEUR ORIGINAL color:#666666*/
#text_icl-2 h1, #text_icl-3 h1 { color: #425357; font-family: 'DroidSans'; font-size: 16px; } /* COULEUR ORIGINAL color:#678088*/

#text_icl-2 h1 { background-image: url('img/calendar-bg.png'); background-repeat: no-repeat; background-position: 15px 15px; height: 50px; }
#text_icl-2 div { margin-top: -25px; }
#text_icl-2 div.calendar { text-align: center; position: absolute; top: 33px; left: 27px; }
#text_icl-2 div.calendar span.month { color: #FFF; font-size: 12px; font-family: 'DroidSansBold'; }
#text_icl-2 div.calendar strong { display: block; color: #000; font-size: 25px; font-family: 'DroidSansBold'; margin-top: -5px; }

#text_icl-3 h1 { background-image: url('img/at.jpg'); background-repeat: no-repeat; background-position: 15px 15px; height: 50px; }
#text_icl-3 div { margin-top: -25px; }

.fb-page { display: none !important; }
body.home .fb-page { display: block !important; margin-left: 15px; width: 295px; overflow: hidden; margin-top: 30px; }


#text_icl-22, #text_icl-33 { min-height: 300px; }
#text_icl-22 div.textwidget, #text_icl-33 div.textwidget { padding: 0px 15px 15px 75px; }
#text_icl-22 h1, #text_icl-33 h1 { padding: 15px 12px 15px 75px; font-weight: bold; }
#text_icl-22 a.suite, #text_icl-33 a.suite { display: block; height: 20px; width: 20px; cursor: pointer; overflow: hidden; position: absolute; bottom: 10px; right: 15px; }
#text_icl-22 a.suite span, #text_icl-33 a.suite span { display: none; }
#text_icl-22 p, #text_icl-33 p { color: #425357 font-family: 'DroidSans'; font-size: 14px; } /* COULEUR ORIGINAL color:#666666*/
#text_icl-22 h1, #text_icl-33 h1 { color: #4c4c4c; font-family: 'DroidSans'; font-size: 17px; } /* COULEUR ORIGINAL color:#678088*/

#text_icl-22 h1 { background-image: url('img/calendar-bg.png'); background-repeat: no-repeat; background-position: 15px 15px; height: 50px; }
#text_icl-22 div { margin-top: -25px; }
#text_icl-22 div.calendar { text-align: center; position: absolute; top: 33px; left: 27px; }
#text_icl-22 div.calendar span.month { color: #FFF; font-size: 12px; font-family: 'DroidSansBold'; }
#text_icl-22 div.calendar strong { display: block; color: #000; font-size: 25px; font-family: 'DroidSansBold'; margin-top: -5px; }

#text_icl-33 h1 { background-image: url('img/at.jpg'); background-repeat: no-repeat; background-position: 15px 15px; height: 50px; }
#text_icl-33 div { margin-top: -25px; }

#sidemap { margin-left: 10px; width: 298px; height: 225px; position: relative; background-image: url('img/side-map-bg.jpg'); background-repeat: no-repeat; background-position: center center; }
body.home #sidemap { display: none; }

#sidenews { margin-top: 50px; margin-bottom: 10px; margin-left: 10px; width: 296px; height: 225px; position: relative; background-color: #FFF; border: solid 1px #ebebeb; }
#sidenews div.content { padding: 10px; }
body.home #sidenews { display: none; }
body.page-id-499 #sidenews { display: none; }

body.home #text_icl-2, body.home #text_icl-3 { display: none; }
#text_icl-4 { display: none; margin-left: 10px; margin-top: 70px; }
body.page-id-19 #text_icl-4 { display: block; }
#text_icl-4 h1 { display: none; }

body.home #text_icl-2 { margin-top: 30px; }
body.home #submenu-map { display: none; }

body.page-id-16 #secondary div, body.page-id-16 #secondary aside { display: none; }
body.page-id-16 #secondary #search-2 { display: block; }
body.page-id-16 div.entry-content { width: 920px; }
body.page-id-16 .entry-title { margin-left: 225px; }
body.page-id-16 ul#secteurs { margin-left: 250px; }

body.page-id-23 #secondary div, body.page-id-23 #secondary aside { display: none; }
body.page-id-23 #secondary #search-2 { display: block; }
body.page-id-23 div.entry-content { width: 920px; }
body.page-id-23 .entry-title { margin-left: 225px; }
body.page-id-23 ul.col { position: relative; float: left; width: 305px; list-style-type: none; padding-left: 0px;margin-left: 0px; }
body.page-id-23 ul.col li { clear: both; display: block; padding-right: 30px; height: 40px; border-bottom: solid 1px #EEE; margin-top: 10px; }
body.page-id-23 ul.col li span { display: block; float: left; margin-right: 10px; background-repeat: no-repeat; background-image: url('img/icones.jpg'); width: 30px; height: 30px; overflow: hidden; }

body.page-id-21 #secondary div, body.page-id-21 #secondary aside { display: none; }
body.page-id-21 #secondary #search-2 { display: block; }
body.page-id-21 div.entry-content { width: 920px; }
body.page-id-21 .entry-title { margin-left: 225px; }
body.page-id-21 ul.col { position: relative; float: left; width: 305px; list-style-type: none; padding-left: 0px;margin-left: 0px; }
body.page-id-21 ul.col li { clear: both; display: block; padding-right: 30px; height: 40px; border-bottom: solid 1px #EEE; margin-top: 10px; }
body.page-id-21 ul.col li span { display: block; float: left; margin-right: 10px; background-repeat: no-repeat; background-image: url('img/icones.jpg'); width: 30px; height: 30px; overflow: hidden; }

body.page-id-513 #secondary div, body.page-id-513 #secondary aside { display: none; }
body.page-id-513 #secondary #search-2 { display: block; }
body.page-id-513 div.entry-content { width: 920px; }
body.page-id-513 .entry-title { margin-left: 255px; color: #daa53d; }

body.parent-pageid-513 h1.entry-title { color: #daa53d; }
body.parent-pageid-513 div#secondary div#sidenews, body.parent-pageid-513 div#secondary div#submenu-map { display: none; }
body.parent-pageid-513 div#secondary div#souspages ul li.current_page_item a { color: #daa53d; }

body.page-id-513 ul.col { position: relative; float: left; width: 305px; list-style-type: none; padding-left: 0px;margin-left: 0px; }
body.page-id-513 ul.col li { clear: both; display: block; padding-right: 30px; height: 80px; border-bottom: solid 1px #EEE; margin-top: 10px; }
body.page-id-513 ul.col li span { display: block; float: left; margin-right: 10px; background-repeat: no-repeat; background-image: url('img/icones.jpg'); width: 30px; height: 30px; overflow: hidden; }
body.page-id-513 ul.col li.acquisition-agricole { height: 60px; }
body.page-id-513 ul.col li.financement-agricole { height: 60px; }

body.page-id-513 ul.col li a { color: #425357; }
body.page-id-513 ul.col li a:hover { color: #daa53d; }

body.page-id-513 ul.col li.representations-cpta span { background-position: -472px 0px; }
body.page-id-513 ul.col li.acquisition-agricole span { background-position: -36px 0px; }
body.page-id-513 ul.col li.transfert-agricole span { background-position: -246px -35px; }
body.page-id-513 ul.col li.financement-agricole span { background-position: -249px -117px; }
body.page-id-513 ul.col li.transfert-intergenerationnel span { background-position: -246px -35px; }


body.page-id-513 ul.col li.representations-cpta a:hover span { background-position: -438px 0px; }
body.page-id-513 ul.col li.acquisition-agricole a:hover span { background-position: -1px 0px; }
body.page-id-513 ul.col li.transfert-agricole a:hover span { background-position: -212px -35px; }
body.page-id-513 ul.col li.financement-agricole a:hover span { background-position: -215px -117px; }
body.page-id-513 ul.col li.transfert-intergenerationnel a:hover span { background-position: -212px -35px; }

body.page-id-513 ul.col li.representations-cpta:hover span { background-position: -438px 0px; }
body.page-id-513 ul.col li.acquisition-agricole:hover span { background-position: -1px 0px; }
body.page-id-513 ul.col li.transfert-agricole:hover span { background-position: -212px -35px; }
body.page-id-513 ul.col li.financement-agricole:hover span { background-position: -215px -117px; }
body.page-id-513 ul.col li.transfert-intergenerationnel:hover span { background-position: -212px -35px; }


body.page-id-475 #sidenews, body.page-id-475 #submenu-map ul { display: none; }
body.page-id-553 #sidenews, body.page-id-553 #submenu-map ul { display: none; }

body.page-id-25 #secondary div, body.page-id-25 #secondary aside { display: none; }
body.page-id-25 #secondary #search-2 { display: block; }
body.page-id-25 div.entry-content { width: 920px; }
body.page-id-25 .entry-title { margin-left: 255px; }
body.page-id-25 ul.col { position: relative; float: left; width: 230px; list-style-type: none; padding-left: 0px;margin-left: 0px; }
body.page-id-25 ul.col li { clear: both; display: block; padding-right: 30px; height: 55px; border-bottom: solid 1px #EEE; margin-top: 10px; }
body.page-id-25 ul.col li span { display: block; float: left; margin-right: 10px; background-repeat: no-repeat; background-image: url('img/icones.jpg'); width: 30px; height: 30px; overflow: hidden; }

body.page-id-25 ul.col li.maitre-des-clefs span { }
body.page-id-25 ul.col li.maitre-des-clefs:hover span { }

body.page-id-21 ul.col li a { color: #425357; font-family: 'DroidSans'; padding-top: 5px; } /*COULEUR ORIGINAL #808080*/
body.page-id-21 ul.col li a:hover { color: #a7c139; }
body.page-id-21 h1.entry-title { color: #a7c139; }
body.parent-pageid-21 h1.entry-title { color: #a7c139; }
body.parent-pageid-21 div#secondary div#sidenews, body.parent-pageid-21 div#secondary div#submenu-map { display: none; }
body.parent-pageid-21 div#secondary div#souspages ul li.current_page_item a { color: #a7c139; }

body.page-id-23 ul.col li a { color: #425357; font-family: 'DroidSans'; padding-top: 5px; } /*COULEUR ORIGINAL #808080*/
body.page-id-23 ul.col li a:hover { color: #1f89ca; }
body.page-id-23 h1.entry-title { color: #1f89ca; }
body.parent-pageid-23 h1.entry-title { color: #1f89ca; }
body.parent-pageid-23 div#secondary div#sidenews, body.parent-pageid-23 div#secondary div#submenu-map { display: none; }
body.parent-pageid-23 div#secondary div#souspages ul li.current_page_item a { color: #1f89ca; }

body.page-id-25 ul.col { width: 305px; }
body.page-id-25 ul.col li.first { height: 55px; }
body.page-id-25 ul.col li a { color: #425357; font-family: 'DroidSans'; padding-top: 5px; } /*COULEUR ORIGINAL #808080*/
body.page-id-25 ul.col li a:hover { color: #f58220; }
body.page-id-25 h1.entry-title { color: #f58220; }
body.parent-pageid-25 h1.entry-title { color: #f58220; }
body.parent-pageid-25 div#secondary div#sidenews, body.parent-pageid-25 div#secondary div#submenu-map { display: none; }
body.parent-pageid-25 div#secondary div#souspages ul li.current_page_item a { color: #f58220; }

div#expertise-nav { clear: both; background-image: url('img/zone-button-bg.jpg'); background-repeat: no-repeat; background-position: center top; padding: 20px; height: 100px; width: 100%; }
div#expertise-nav ul { list-style-type: none; margin: 0px; }
div#expertise-nav ul li { margin-right: 25px; list-style-type: none; display: block; position: relative; float: left; width: 280px; height: 85px; background-repeat: no-repeat; background-position: center center; }
div#expertise-nav ul li a { display: block; position: absolute; color: #FFF; top: 38px; left: 30px; text-decoration: none; font-family: 'DroidSans'; font-size: 18px; }
div#expertise-nav ul li.affaires { background-image: url('img/droit-affaire-button.jpg'); }
div#expertise-nav ul li.personne { background-image: url('img/droit-personne-button.jpg'); }
div#expertise-nav ul li.immobilier { background-image: url('img/droit-immobilier-button.jpg'); }
div#expertise-nav ul li.agricole { background-image: url('img/droit-agricole-button.jpg'); }

body.page-id-513 div#expertise-nav ul li.agricole { display: none; }

body.page-id-21 div#expertise-nav ul li.affaires { display: none; }
/*body.page-id-21 div#expertise-nav ul li.personne { margin-left: 195px; }
body.page-id-21 div#expertise-nav ul li.immobilier { margin-right: 0px; }*/

body.page-id-23 div#expertise-nav ul li.personne { display: none; }
/*body.page-id-23 div#expertise-nav ul li.affaires { margin-left: 195px; }
body.page-id-23 div#expertise-nav ul li.immobilier { margin-right: 0px; }*/

body.page-id-25 div#expertise-nav ul li.immobilier { display: none; }
/*body.page-id-25 div#expertise-nav ul li.personne { margin-right: 0px; }
body.page-id-25 div#expertise-nav ul li.affaires { margin-left: 195px; }*/

body.page-id-197 #text_icl-4 { display: block; }
body.page-id-197 #submenu-map { display: none; }
body.page-id-197 #sidenews { display: none; }
body.page-id-442 #sidenews { display: none; }

body.page-id-199 #text_icl-4 { display: block; }
body.page-id-199 #submenu-map { display: none; }
body.page-id-199 #sidenews { display: none; }

body.page-id-17 #sidenews { display: none; }
body.page-id-17 #submenu-map { display: none; }
body.recherche #submenu-map { display: none; }

/** ICONES **/
li.adoption-qc a span { background-position: -136px -10px; }
li.adoption-int a span { background-position: -136px -46px; }
li.mariage-civil a span { background-position: -136px -82px; }
li.union-civil a span { background-position: -136px -118px; }
li.changement-nom a span { background-position: -136px -154px; }
li.changement-nom { width: 325px; }
li.changement-nom a { font-size: 14px; }
li.conseil-tutelle a span { background-position: -136px -190px; }
li.contrat-mariage a span { background-position: -136px -226px; }
li.contrat-union a span { background-position: -138px -260px; }
li.convention-union a span { background-position: -136px -298px; }
li.designation-fiduciaire a span { background-position: -345px -10px; }
li.designation-liquidateur a span { background-position: -345px -46px; }
li.dissolution-civile a span { background-position: -345px -82px; }
li.don-organes a span { background-position: -345px -118px; }
li.fiducie-familiale a span { background-position: -345px -154px; }
li.immigration a span { background-position: -345px -190px; }
li.jugement-declaratif a span { background-position: -345px -226px; }
li.lettres-verification a span { background-position: -345px -264px; }
li.mandat-inaptitude a span { background-position: -345px -298px; }
li.mediation-familiale a span { background-position: -572px -10px; }
li.planification-financiere a span { background-position: -572px -46px; }
li.procurations a span { background-position: -572px -82px; }
li.regime-protection a span { background-position: -572px -118px; }
li.renonciation-succession a span { background-position: -572px -154px; }
li.testaments-temoins a span { background-position: -572px -190px; }
li.testaments-olographes a span { background-position: -572px -226px; }
li.traitements-fin-de-vie a span { background-position: -572px -260px; }

li.adoption-qc a:hover span { background-position: -172px -10px; }
li.adoption-int a:hover span { background-position: -172px -46px; }
li.mariage-civil a:hover span { background-position: -172px -82px; }
li.union-civil a:hover span { background-position: -172px -118px; }
li.changement-nom a:hover span { background-position: -172px -154px; }
li.conseil-tutelle a:hover span { background-position: -172px -190px; }
li.contrat-mariage a:hover span { background-position: -172px -226px; }
li.contrat-union a:hover span { background-position: -172px -260px; }
li.convention-union a:hover span { background-position: -172px -298px; }
li.designation-fiduciaire a:hover span { background-position: -380px -10px; }
li.designation-liquidateur a:hover span { background-position: -380px -46px; }
li.dissolution-civile a:hover span { background-position: -380px -82px; }
li.don-organes a:hover span { background-position: -380px -118px; }
li.fiducie-familiale a:hover span { background-position: -380px -154px; }
li.immigration a:hover span { background-position: -380px -190px; }
li.jugement-declaratif a:hover span { background-position: -380px -226px; }
li.lettres-verification a:hover span { background-position: -380px -264px; }
li.mandat-inaptitude a:hover span { background-position: -380px -298px; }
li.mediation-familiale a:hover span { background-position: -607px -10px; }
li.planification-financiere a:hover span { background-position: -607px -46px; }
li.procurations a:hover span { background-position: -607px -82px; }
li.regime-protection a:hover span { background-position: -607px -118px; }
li.renonciation-succession a:hover span { background-position: -607px -154px; }
li.testaments-temoins a:hover span { background-position: -607px -190px; }
li.testaments-olographes a:hover span { background-position: -607px -226px; }
li.traitements-fin-de-vie a:hover span { background-position: -607px -260px; }

li.arbritrage a span { background-position: -72px -5px; }
li.consultation-affaires a span { background-position: -72px -43px; }
li.convention-actionnaires a span { background-position: -72px -80px; }
li.corporative a span { background-position: -72px -117px; }
li.depots-fideicommis a span { background-position: -72px -142px; }
li.droit-auteur a span { background-position: -72px -191px; }
li.droit-fiscal a span { background-position: -72px -227px; }
li.fiducie-protection a span { background-position: -72px -260px; }
li.financement-identite a span { background-position: -285px -7px; }
li.franchise a span { background-position: -285px -43px; }
li.fusions-acquisitions a span { background-position: -285px -80px; }
li.gel-successoral a span { background-position: -285px -117px; }
li.incorporation a span { background-position: -285px -152px; }
li.livre-compagnie a span { background-position: -285px -188px; }
li.marques-commerce a span { background-position: -285px -228px; }
li.mediation-commerciale a span { background-position: -282px -260px; }
li.negociation a span { background-position: -505px -7px; }
li.protection-entrepreneur a span { background-position: -505px -46px; }
li.protection-garanties a span { background-position: -505px -82px; }
li.releve-entreprise a span { background-position: -505px -117px; }
li.secrets-commerciaux a span { background-position: -505px -153px; }
li.transfert-entreprise a span { background-position: -505px -191px; }
li.vente-entreprises a span { background-position: -505px -227px; }

li.arbritrage a:hover span { background-position: -105px -5px; }
li.consultation-affaires a:hover span { background-position: -105px -43px; }
li.convention-actionnaires a:hover span { background-position: -105px -80px; }
li.corporative a:hover span { background-position: -105px -117px; }
li.depots-fideicommis a:hover span { background-position: -105px -142px; }
li.droit-auteur a:hover span { background-position: -105px -191px; }
li.droit-fiscal a:hover span { background-position: -105px -227px; }
li.fiducie-protection a:hover span { background-position: -105px -260px; }
li.financement-identite a:hover span { background-position: -319px -7px; }
li.franchise a:hover span { background-position: -319px -43px; }
li.fusions-acquisitions a:hover span { background-position: -319px -80px; }
li.gel-successoral a:hover span { background-position: -319px -117px; }
li.incorporation a:hover span { background-position: -319px -152px; }
li.livre-compagnie a:hover span { background-position: -319px -188px; }
li.marques-commerce a:hover span { background-position: -319px -228px; }
li.mediation-commerciale a:hover span { background-position: -316px -260px; }
li.negociation a:hover span { background-position: -539px -7px; }
li.protection-entrepreneur a:hover span { background-position: -539px -46px; }
li.protection-garanties a:hover span { background-position: -539px -82px; }
li.releve-entreprise a:hover span { background-position: -539px -117px; }
li.secrets-commerciaux a:hover span { background-position: -539px -153px; }
li.transfert-entreprise a:hover span { background-position: -539px -191px; }
li.vente-entreprises a:hover span { background-position: -539px -227px; }

body.page-id-25 ul.col li.administration-condo a span { background-image: url('img/Clef-grise.png'); background-position: 3px 5px; }
body.page-id-25 ul.col li.maitre-des-clefs a span { background-image: url('img/Clef-grise.png'); background-position: 3px 5px; }
li.agricole a span { background-position: -38px -3px; }
li.bail-commercial a span { background-position: -38px -40px; }
li.bureau-de-publicite-des-droits a span { background-position: -38px -78px; }
li.commercial a span { background-position: -38px -117px; }
li.convention-dindivision a span { background-position: -38px -155px; }
li.la-copropriete-divise-condo a span { background-position: -38px -190px; }
li.declaration-de-copropriete-divise a span { background-position: -38px -228px; }
li.droit-de-propriete a span { background-position: -249px -3px; }
li.expropriation a span { background-position: -249px -40px; }
li.financement-dimmeuble a span { background-position: -249px -78px; }
li.offre-dachat-immobiliere a span { background-position: -249px -117px; }
li.prescription-acquisitive a span { background-position: -249px -145px; }
li.quittance a span { background-position: -249px -190px; }
li.rapport-de-titres a span { background-position: -249px -228px; }
li.requete-tribunal a span { background-position: -472px -3px; }
li.residentiel a span { background-position: -472px -40px; }
li.servitude a span { background-position: -472px -79px; }
li.transaction-immobiliere a span { background-position: -472px -118px; }
li.vente-de-propriete a span { background-position: -472px -155px; }

body.page-id-25 ul.col li.administration-condo a:hover span { background-image: url('img/Clef-orange.png'); background-position: 3px 5px; }
body.page-id-25 ul.col li.maitre-des-clefs a:hover span { background-image: url('img/Clef-orange.png'); background-position: 3px 5px; }
li.agricole a:hover span { background-position: -3px -3px; }
li.bail-commercial a:hover span { background-position: -3px -40px; }
li.bureau-de-publicite-des-droits a:hover span { background-position: -3px -78px; }
li.commercial a:hover span { background-position: -3px -117px; }
li.convention-dindivision a:hover span { background-position: -3px -155px; }
li.la-copropriete-divise-condo a:hover span { background-position: -3px -190px; }
li.declaration-de-copropriete-divise a:hover span { background-position: -3px -228px; }
li.droit-de-propriete a:hover span { background-position: -215px -3px; }
li.expropriation a:hover span { background-position: -215px -40px; }
li.financement-dimmeuble a:hover span { background-position: -215px -78px; }
li.offre-dachat-immobiliere a:hover span { background-position: -215px -117px; }
li.prescription-acquisitive a:hover span { background-position: -215px -145px; }
li.quittance a:hover span { background-position: -215px -190px; }
li.rapport-de-titres a:hover span { background-position: -215px -228px; }
li.requete-tribunal a:hover span { background-position: -438px -3px; }
li.residentiel a:hover span { background-position: -438px -40px; }
li.servitude a:hover span { background-position: -438px -79px; }
li.transaction-immobiliere a:hover span { background-position: -438px -118px; }
li.vente-de-propriete a:hover span { background-position: -438px -155px; }

body.map #content { width: 650px; }
body.map #secondary div, body.map #secondary aside { display: none; }
body.map #secondary #search-2 { display: block; }


#citydd { position: absolute; left: 65px; top: 100px; width: 200px; opacity: 0.8; border: solid 1px #CCC; }
#scity { position: absolute; left: 65px; width: 170px; top: 125px; opacity: 0.8; }
body.home #citydd { top: 140px; font-family: 'DroidSans'; color: #50686f; font-size: 14px; text-transform: uppercase; }
body.home #scity { top: 165px; font-family: 'DroidSans'; color: #50686f; font-size: 14px; text-transform: uppercase; }

#sidecitydd { position: absolute; left: 65px; top: 105px; width: 200px; opacity: 0.8; border: solid 1px #CCC; font-family: 'DroidSans'; color: #50686f; font-size: 12px; text-transform: uppercase; }
#sidecpdd { position: absolute; left: 65px; top: 133px; width: 200px; opacity: 0.8; border: solid 1px #CCC; font-family: 'DroidSans'; color: #50686f; font-size: 12px; text-transform: uppercase; }
#sidescity { position: absolute; left: 65px; width: 170px; top: 130px; opacity: 0.8; font-family: 'DroidSans'; color: #50686f; font-size: 12px; text-transform: uppercase; }

#map { position: relative; }
#map h3 { width: 300px; text-align: center; margin-top: 22px; color: #FFFFFF; text-transform: uppercase; font-size: 15px; font-family: 'DroidSansBold'; }
#map #linktomap { position: absolute; bottom: 20px; right: 28px; color: #50686f; font-family: 'DroidSans'; text-decoration: none; text-transform: uppercase; font-size: 13px; }
#map #mapsubmit { position: absolute; top: 170px; right: 34px; width: 17px; height: 16px; background-image: url('img/loupebold.jpg'); background-repeat: no-repeat; background-position: center top; font-size: 1px; overflow: hidden; text-indent: -1000px; border: none; background-color: transparent; margin-left: 5px; }

#sidemap { position: relative; }
#sidemap #linktomap { position: absolute; bottom: 18px; right: -5px; color: #50686f; font-family: 'DroidSans'; text-decoration: none; text-transform: uppercase; font-size: 13px; }
#sidemap #mapsubmit { position: absolute; top: 132px; right: 34px; width: 17px; height: 16px; background-image: url('img/loupebold.jpg'); background-repeat: no-repeat; background-position: center top; font-size: 1px; overflow: hidden; text-indent: -1000px; border: none; background-color: transparent; margin-left: 5px; }
#sidemap h3 { display: none; width: 300px; text-align: center; margin-top: 22px; padding-top: 22px; color: #FFFFFF; text-transform: uppercase; font-size: 15px; font-family: 'DroidSansBold'; }
#sidemap #sidelinktomap { position: absolute; bottom: 7px; left: 26px; color: #50686f; font-family: 'DroidSans'; text-decoration: none; text-transform: uppercase; font-size: 13px; }
#sidemap #sidelinktolist { position: absolute; bottom: 7px; left: 100px; color: #50686f; font-family: 'DroidSans'; text-decoration: none; text-transform: uppercase; font-size: 13px; }
#sidemap #sidemapsubmit { position: absolute; z-index: 100; top: 0px; right: 0px; width: 90px; height: 34px; color: #50686f; font-size: 12px; border: none; background-color: transparent; text-align: center; }
#sidemap #sidemapsubmit:hover { position: absolute; top: 0; right: 0; width: 90px; height: 34px; color: #FFF; font-size: 12px; border: none; background-color: transparent; text-align: center; background-image: url('img/sidemap-button2-hover.jpg'); background-repeat: no-repeat; background-position: right center; overflow: hidden; }

#sidemap div.action { position: absolute; left: 30px; top: 170px; /*background-image: url('img/sidemap-button2.jpg'); background-repeat: no-repeat; background-position: center center;*/ width: 237px; height: 34px; }

#submenu-map { }
#submenu-map ul { list-style-type: none; margin-left: 10px; padding-left: 0px; }
#submenu-map ul li { background-image: url('img/arrow-blue.jpg'); background-position: left center; background-repeat: no-repeat; width: 150px; position: relative; float: left; }
#submenu-map ul li a { display: block; padding-left: 20px; padding-top: 2px; font-family: 'DroidSansBold'; text-decoration: none; color: #189fc6; text-transform: uppercase; font-size: 12px; }

#souspages {margin: 30px 0 0 ;}
#souspages ul{list-style: none; margin:0; padding: 0;}
#souspages li{list-style: none; margin: 0; padding: 5px 15px; border-bottom: solid 1px #ebebeb;}
#souspages a{text-decoration: none; color: #425357;} /*COULEUR ORIGINAL #5c777f*/
ul.navigationEtude { margin: 30px 0 50px 0px; list-style-type: none; }
ul.navigationEtude li { list-style-type: none; margin: 0px; padding: 5px 15px; border-bottom: solid 1px #ebebeb; }
ul.navigationEtude li a { text-decoration: none; color: #425357; } /*COULEUR ORIGINAL #5c777f*/
ul.navigationEtude li a:hover { color: #189fc6; }
ul.navigationEtude li#smetude { background-image: url('img/etude-bg.jpg'); background-repeat: no-repeat; background-position: 10px center; padding-left: 40px; }
ul.navigationEtude li#smequipe { background-image: url('img/equipe-bg.jpg'); background-repeat: no-repeat; background-position: 10px center; padding-left: 40px; }
ul.navigationEtude li#smdemande { border-bottom: none; background-image: url('img/demande-information-bg.jpg'); background-repeat: no-repeat; background-position: 10px center; padding-left: 40px; }
body.etude ul.navigationEtude li#smetude a { color: #189fc6; }
body.equipe ul.navigationEtude li#smequipe a { color: #189fc6; }
body.demande-info ul.navigationEtude li#smdemande a { color: #189fc6; }
body.etude ul.navigationEtude li#smetude { background-image: url('img/etude-bg-on.png'); }
body.equipe ul.navigationEtude li#smequipe { background-image: url('img/equipe-bg-on.png'); }
body.demande-info ul.navigationEtude li#smdemande { background-image: url('img/demande-information-bg-on.png'); }


body.etude #text_icl-4, body.equipe #text_icl-4, body.demande-info #text_icl-4 { margin-top: 25px; }


/* PAGE DYNAMIQUES */
div#main.page-dynamique div#sidenews { display: none; }
div#main.page-dynamique #text_icl-4 { display: block; }
div#main.page-dynamique ul.etude-list { list-style-type: none; margin-left: 0px; padding-left: 0px; }
div#main.page-dynamique ul.etude-list li a { text-transform: uppercase; font-family: 'DroidSans'; color: #425357; text-decoration: underline; font-size: 14px; } /*COULEUR ORIGINAL #5c777f*/
div#main.page-dynamique ul.etude-list li p { font-family: 'DroidSans'; color: #425357; font-size: 14px; } /*COULEUR ORIGINAL #5c777f*/
div.col_city { border-right: solid 1px #5c777f; position: relative; float: left; width: 200px; margin-top: -110px;  }
div.col_city ul { list-style-type: none; margin-left: 0px; padding-left: 0px; }
div.col_city ul li { margin-left: 0px; padding-left: 0px; }
div.col_city ul li a { color: #425357; text-decoration: none; } /*COULEUR ORIGINAL #5c777f*/
body.city-list div#souspages { display: none; }
body.q-city div#souspages { display: none; }
body.demande-info div#souspages { display: none; }
body.demande-info div#submenu-map { display: none; }
body.demande-rv div#souspages { display: none; }
body.demande-rv div#submenu-map { display: none; }

body.map div.map { width: 789px; position: relative; height: 500px; margin-left: 220px; }
div.map form h3 { text-transform: uppercase; font-size: 12px; }
div.map form { position: absolute; top: -125px; right: 65px; }

div.map form #mapsubmit { box-shadow: none; position: absolute; top: 38px; right: 0px; width: 28px; height: 25px; background-image: url('img/loupe-white.jpg'); background-repeat: no-repeat; background-position: center top; font-size: 1px; overflow: hidden; text-indent: -1000px; border: none; background-color: transparent; margin-left: 5px; }
div.map form #sidescity { position: relative; left: 0px; width: 195px; top: 0px; opacity: 1; font-family: 'DroidSans'; color: #50686f; font-size: 12px; text-transform: uppercase; }
div.map div.etude div.info { display: none; }
div.map div.etude img.marker { cursor: pointer; }
div.map div.etude div.info { padding: 20px; width: 350px; background-color: #FFF; position: absolute; z-index: 999; border: solid 1px #CCC; }
div.map div.etude a.close { margin-left: 365px; margin-top: 2px; position: absolute; z-index: 1000; font-weight: bold; text-decoration: none; }
body.map .entry-header h1, body.map .entry-content h2 { margin-left: 240px; }
body.page-id-178 div#submenu-map, body.page-id-175 div#submenu-map, body.page-id-18 div#submenu-map, body.etude div#submenu-map { display: none; }
body.page-id-168 div#submenu-map, body.page-id-168 div#sidenews { display: none; }
body.page-id-74 div#submenu-map, body.page-id-74 div#sidenews { display: none; }
body.equipe div#secondary #submenu-map { display: none; }
body.equipe div#secondary #souspages, body.etude div#secondary #souspages, body.city div#secondary #souspages, body.empty div#secondary #souspages { display: none; }

body.equipe .entry-content h5 { color: #189fc6; font-family: 'ColaThin'; font-size: 32px; text-transform: uppercase; position: absolute; top: 225px; }
body.equipe .entry-content h5 strong { font-family: 'ColaBold'; }
body.equipe .entry-header h1 { margin-top: 50px; }
body.equipe h1 { padding-top: 10px; padding-bottom: 10px; color: #425357; font-family: 'ColaThin'; font-size: 22px; text-transform: uppercase; } /*COULEUR ORIGINAL #5c777f*/
body.equipe div#secondary #text_icl-4 { margin-top: 40px; display: block; }

body.etude .entry-content h5 { color: #189fc6; font-family: 'ColaThin'; font-size: 32px; text-transform: uppercase; position: absolute; top: 225px; }
body.etude .entry-content h5 strong { font-family: 'ColaBold'; }
body.etude .entry-header h1 { margin-top: 50px; }
body.etude h1 { padding-top: 10px; padding-bottom: 10px; color: #425357; font-family: 'ColaThin'; font-size: 22px; text-transform: uppercase; } /*COULEUR ORIGINAL #5c777f*/
body.etude div#secondary #text_icl-4 { margin-top: 40px; }
body.etude div.address { background-image: url('img/zone-button-bg.jpg'); background-repeat: no-repeat; background-position: center bottom; width: 100%; margin-bottom: 20px; }
body.etude p.address { margin-top: -20px; font-size: 0.9em; }
body.etude div.tel { width: 45%; position: relative; float: left; }
body.etude div.tel p { font-size: 0.9em; }
body.etude div.autres-adresses h2 { text-transform: none; color: #189fc6; font-family: 'ColaThin'; font-size: 25px; margin-bottom: 20px; }
body.etude div.autres-adresses h2 span { font-family: 'ColaBold'; }
body.etude div.autres-adresses div.address { clear: both; position: relative; border-bottom: solid 1px #CCC; background-image: none; margin-bottom: 20px; }
body.etude div.autres-adresses div.address p.address { width: 270px; margin-top: 0px; }
body.etude div.autres-adresses div.address div.phone { position: absolute; left: 290px; top: 0px; width: 195px; }
body.etude div.autres-adresses div.address div.fax { position: absolute; left: 465px; top: 0px; width: 165px; }
body.etude div.photo { float: right; margin-left: 20px; margin-bottom: 20px; width: 300px; }
body.etude div.photo img { padding: 5px; border: solid 1px #CCC; }
body.etude div.photo_equipe { width: 290px; }
body.etude div.photo_equipe p { font-size: 0.9em; }
body.etude div.description p { font-size: 0.9em; text-align: justify; }
body.etude div#primary p strong { color: #425357; font-family: 'DroidSansBold'; } /*COULEUR ORIGINAL #5c777f*/
body.equipe div.entry-content { margin-top: 0px; }
body.equipe div.boxEquipeList { width: 280px; margin-right: 30px; position: relative; float: left; }
body.equipe div.boxEquipeList a { color: #425357;  } /*COULEUR ORIGINAL #5c777f*/
body.equipe div.equipe01 { clear: both; padding-top: 40px; position: relative; border-bottom: solid 1px #CCC; padding-bottom: 20px; margin-bottom: 10px; }
body.equipe div.equipe01 div.imgEquipe { width: 150px; position: relative; float: right; margin-left: 20px; margin-bottom: 20px; }
body.equipe div.equipe01 div.imgEquipe img { border: solid 1px #CCC; padding: 5px; }
body.equipe div.equipe01 h3 { width: 400px; clear: none; margin-top: 20px; text-transform: none; }
body.equipe div.equipe01 h4 { cursor: pointer; color: #189fc6; font-family: 'DroidSansBold'; text-transform: uppercase; position: absolute; top: 20px; font-size: 14px; padding-left: 25px; background-image: url('img/arrow-blue.jpg'); background-position: left center; background-repeat: no-repeat; w }
body.equipe div.equipe01 div.email { padding: 10px 0px; font-size: 15px; }
body.equipe div.equipe01 p.debut-pratique { padding: 10px 0px; font-size: 15px; margin-bottom: 0px; }
body.equipe #primary div.equipe01 p.debut-pratique strong { color: #425357; font-family: 'DroidSansBold'; } /*COULEUR ORIGINAL #5c777f*/
body.equipe div.equipe01 p.affaires { padding: 10px 0px; font-size: 15px; margin-bottom: 0px; }
body.equipe #primary div.equipe01 p.affaires strong { color: #425357; font-family: 'DroidSansBold'; } /*COULEUR ORIGINAL #5c777f*/
body.equipe div.equipe01 p.personnes { padding: 10px 0px; font-size: 15px; margin-bottom: 0px; }
body.equipe #primary div.equipe01 p.personnes strong { color: #425357; font-family: 'DroidSansBold'; } /*COULEUR ORIGINAL #5c777f*/
body.equipe div.equipe01 p.immobilier { padding: 10px 0px; font-size: 15px; margin-bottom: 0px; }
body.equipe #primary div.equipe01 p.immobilier strong { color: #425357; font-family: 'DroidSansBold'; } /*COULEUR ORIGINAL #5c777f*/
body.equipe div.equipe01 p.sectoriel { padding: 10px 0px; font-size: 15px; margin-bottom: 0px; }
body.equipe #primary div.equipe01 p.sectoriel strong { color: #425357; font-family: 'DroidSansBold'; } /*COULEUR ORIGINAL #5c777f*/
body.equipe div.separator { clear: both; background-image: url('img/zone-button-bg.jpg'); background-repeat: no-repeat; background-position: center bottom; width: 100%; padding-top: 20px; }
body.equipe #primary div.equipe01 div.box { display: none; top: 0px; z-index: 1000; padding: 20px; width: 500px; position: absolute; background-color: #FFF; -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; border: solid 1px #CCC; }
body.equipe #primary div.equipe01 div.box h4 { padding-left: 0px; background-image: none; }
body.equipe #primary div.equipe01 div.box span.close { display: block; text-align: right; font-size: 18px; line-height: 14px; font-family: 'DroidSansBold'; cursor: pointer; }
#field_3_9 { display: none; }
#field_4_9 { display: none; }

#etude-nouvelles { background-image: url('img/news_bg.jpg'); background-repeat: no-repeat; background-position: center center; width: 298px; height: 250px; margin-left: 10px; overflow: hidden; }
#etude-nouvelles h3 { font-family: 'DroidSansBold'; color: #FFF; font-size: 16px; padding-left: 30px; padding-top: 22px; text-transform: uppercase; }
#etude-nouvelles ul { list-style-type: none; margin: 20px 0px 0px 30px; padding: 0px;  width: 250px; }
#etude-nouvelles ul li { list-style-type: none; margin: 0px; padding: 0px; color: #333; font-size: 14px; font-family: 'DroidSans'; }
#etude-nouvelles ul li a { color: #333; text-decoration: underline; font-size: 14px; font-family: 'DroidSans'; }

/* PUBLICATIONS */
#post-19 p { margin-bottom: 5px; }
#post-19 h2 { line-height: 50px; }
#post-19 .entry-content { margin-top: 0px; }
body.page-id-19 div#sidenews { display: none; }
body.page-id-19 div#submenu-map { display: none; }

/* A PROPOS */
body.page-id-18 #sidenews { display: none; }
body.page-id-18 #text_icl-4 { display: block; margin-top: 30px; }
body.page-id-175 #sidenews { display: none; }
body.page-id-175 #text_icl-4 { display: block; margin-top: 30px; }
body.page-id-178 #sidenews { display: none; }
body.page-id-178 #text_icl-4 { display: block; margin-top: 30px; }
#souspages ul li.page-item-175 { background-image: url('img/conseil-administration-bg.jpg'); background-repeat: no-repeat; background-position: left center; padding-left: 30px; }
#souspages ul li.page-item-178 { background-image: url('img/se-joindre-bg.jpg'); background-repeat: no-repeat; background-position: left center; padding-left: 30px; }

/* CARRIERE */
body.page-template-content-carriere-php div.entry-content { padding: 40px; }
body.page-template-content-carriere-php #souspages, body.page-template-content-carriere-php #sidemap { display: none; }
body.page-template-content-carriere-php #primary div.entry-content h2 { text-align: left; font-size: 24px; }

body.page-template-content-carriere-php ul.jobs li a { cursor: pointer; }
body.page-template-content-carriere-php ul.jobs li div.description { display: none; position: absolute; width: 894px; margin-left: auto; margin-right: auto; background-color: #FFF; z-index: 1020; border: solid 4px #e98823; left: 30px; top: 215px; }
body.page-template-content-carriere-php ul.jobs li div.description div.text { position: relative; padding: 30px; }
body.page-template-content-carriere-php ul.jobs li div.description span.close { position: absolute; top: 10px; right: 10px; display: block; text-align: right; font-size: 18px; line-height: 14px; font-family: 'DroidSansBold'; cursor: pointer; }
body.page-template-content-carriere-php ul.jobs li div.description ul, body.page-template-content-carriere-php ul.jobs li div.description p { padding-bottom: 10px; margin-bottom: 0px; }
div#secondary div#souspages ul li.current_page_item a { color: #189fc6; }

body.page-template-content-carriere-php ul.jobs li div.description p, body.page-template-content-carriere-php ul.jobs li div.description ul, body.page-template-content-carriere-php ul.jobs li div.description ul li, body.page-template-content-carriere-php ul.jobs li div.description span { font-size: 14px !important; font-family: sans-serif !important; }
body.page-template-content-carriere-php ul.jobs li div.description span.close { font-size: 18px !important; }
body.page-template-content-carriere-php a.button { width: 55px; margin-left: 750px; text-decoration: none; display: block; border: 1px solid #ccc; border-color: #ccc #ccc #bbb #ccc; border-radius: 3px; background: #e6e6e6; -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.5), inset 0 15px 17px rgba(255,255,255,0.5), inset 0 -5px 12px rgba(0,0,0,0.05); -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.5), inset 0 15px 17px rgba(255,255,255,0.5), inset 0 -5px 12px rgba(0,0,0,0.05); box-shadow: inset 0 1px 0 rgba(255,255,255,0.5), inset 0 15px 17px rgba(255,255,255,0.5), inset 0 -5px 12px rgba(0,0,0,0.05); color: rgba(0,0,0,.8); cursor: pointer; -webkit-appearance: button; font-size: 12px; font-size: 1.4rem; line-height: 1; padding: 1.12em 1.5em 1em; text-shadow: 0 1px 0 rgba(255,255,255,.8); }



/* FORM */
body.page-id-199 .gform_wrapper .left_label .gfield_label { width: 32%; }
body.page-id-199 .gform_wrapper .gform_footer.left_label { padding: 16px 0 10px 34%; }
body.page-id-199 #field_6_13 { display: none; }
body.page-id-199 #field_6_15 { display: none; }

body.page-id-17 .gform_wrapper .left_label .gfield_label { width: 32%; }
body.page-id-17 .gform_wrapper .gform_footer.left_label { padding: 16px 0 10px 34%; }
body.page-id-17 #field_6_13 { display: none; }
body.page-id-17 #field_6_15 { display: none; }
body.page-id-17 #field_7_13 { display: none; }
body.page-id-17 #field_7_15 { display: none; }
body.page-id-17 #gform_wrapper_7 { display: none; background-color: #FFF; width: 860px; height: 600px; position: absolute; z-index: 1040; border: solid 2px #425357; padding: 20px; margin-left: 20px; margin-top: -300px; } /*COULEUR ORIGINAL #5c777f*/
body.page-id-17 #gform_wrapper_7 span.close { position: absolute; right: 20px; cursor: pointer; }
body.page-id-17 #gform_wrapper_7 div.gform_body div.titre { margin-bottom: 20px; }
body.page-id-17 .entry-content { min-height: 600px; }
body.page-id-17 #gforms_confirmation_message { margin: 60px 0; max-width: 99%; border: solid 4px orange; padding: 60px; position: absolute; z-index: 1500; background-color: #FFF; }

span.gform_description { text-align: justify; }
div.etude div.description { text-align: justify; }

#colophon { clear: both; }
#colophon div#menu-footer-thematiques { padding: 10px; background-image: url('img/footer-menu-thematiques-bg.jpg'); background-repeat: no-repeat; background-position: center center; width: 962px; height: 270px; position: relative; }

.menu-footer-secteurs { width: 190px; position: absolute; top: 30px; right: 0px; }

.menu-footer-secteurs span.spacer { display: block; padding-top: 135px; }

#colophon div.menu-footer-thematiques-fr-container { padding: 20px 0px 0px 30px; }
#colophon div.menu-footer-thematiques-fr-container ul#menu-footer-thematiques-fr { list-style-type: none; padding: 0px; margin: 0px; }
#colophon div.menu-footer-thematiques-fr-container ul#menu-footer-thematiques-fr li { list-style-type: none; padding: 0px; margin: 0px; position: relative; float: left; width: 220px; margin-right: 25px;  }
#colophon div.menu-footer-thematiques-fr-container ul#menu-footer-thematiques-fr li#menu-item-252 { width: 252px; }
#colophon div.menu-footer-thematiques-fr-container ul#menu-footer-thematiques-fr li#menu-item-253 { width: 205px; }

#colophon div.menu-footer-thematiques-fr-container ul#menu-footer-thematiques-fr li > a { color: #4c4c4c; text-transform: uppercase; text-decoration: none; font-family: 'DroidSansBold'; font-size: 14px; }
#colophon div.menu-footer-thematiques-fr-container ul#menu-footer-thematiques-fr li ul.sub-menu { margin: 0px; padding: 0px; list-style-type: none;  }
#colophon div.menu-footer-thematiques-fr-container ul#menu-footer-thematiques-fr li ul.sub-menu li { float: none; width: 100%; margin: 0px; padding: 0px; line-height: 14px; }
#colophon div.menu-footer-thematiques-fr-container ul#menu-footer-thematiques-fr li ul.sub-menu li a { text-transform: none; color: #425357; font-family: 'DroidSans'; font-size: 12px; text-decoration: none; } /*COULEUR ORIGINAL #838384*/
#colophon div.menu-footer-thematiques-fr-container ul#menu-footer-thematiques-fr li ul.sub-menu li a:hover { text-decoration: underline; }
#colophon div.menu-footer-thematiques-fr-container ul#menu-footer-thematiques-fr li ul.sub-menu li.last a { text-transform: none; color: #000; font-family: 'DroidSansBold'; font-size: 12px; text-decoration: none; }

#colophon div#menu-footer-secteurs > a { color: #4c4c4c; text-transform: uppercase; text-decoration: none; font-family: 'DroidSans'; font-size: 14px; }
#colophon div#menu-footer-secteurs > a strong { font-family: 'DroidSansBold'; }

#colophon div#menu-footer-secteurs ul#menu-footer-secteurs-fr { list-style-type: none; padding: 0px; margin: 0px;  }
#colophon div#menu-footer-secteurs ul#menu-footer-secteurs-fr li { list-style-type: none; padding: 0px; margin: 0px; position: relative; float: left; width: 170px; margin-right: 0px; color: #425357; font-family: 'DroidSans'; font-size: 12px; text-decoration: none; line-height: 14px; }/*COULEUR ORIGINAL #838384*/


#colophon div.menu-footer-secteurs > a { color: #4c4c4c; text-transform: uppercase; text-decoration: none; font-family: 'DroidSans'; font-size: 14px; }
#colophon div.menu-footer-secteurs > a strong { font-family: 'DroidSansBold'; }
#colophon div.menu-footer-secteurs ul.menu-footer-secteurs-fr { list-style-type: none; padding: 0px; margin: 0px;  }
#colophon div.menu-footer-secteurs ul.menu-footer-secteurs-fr li { list-style-type: none; padding: 0px; margin: 0px; position: relative; float: left; width: 170px; margin-right: 0px; color: #425357; font-family: 'DroidSans'; font-size: 12px; text-decoration: none; line-height: 14px; }/*COULEUR ORIGINAL #838384*/


#colophon div#menu-footer-city { clear: both; margin-top: 15px; margin-left: 10px; }
#colophon div#menu-footer-city h3 { background-image: url('img/menu-city-bg.jpg'); background-repeat: no-repeat; background-position: center center; width: 104px; height: 27px; text-align: center; font-family: 'DroidSansBold'; color: #90908f; font-size: 14px; padding-top: 15px; }
#colophon div#menu-footer-city div.content { padding: 10px; border: solid 1px #ebebeb; border-bottom: solid 2px #ebebeb; width: 730px; height: 115px; margin-top: -7px; line-height: 15px; }
#colophon div#menu-footer-city div.content a { text-transform: none; color: #425357; font-family: 'DroidSans'; font-size: 12px; text-decoration: none; } /*COULEUR ORIGINAL #5c777f*/

#colophon div.menu-footer-form-fr-container { clear: both; float: right; margin-top: -120px; margin-right: 10px; }
#colophon div.menu-footer-form-fr-container ul#menu-footer-form-fr { list-style-type: none; margin: 0px; padding: 0px; }
#colophon div.menu-footer-form-fr-container ul#menu-footer-form-fr li { list-style-type: none; margin: 0px; padding: 0px; background-image: url('img/bullet-arrow.jpg'); background-repeat: no-repeat; background-position: left center; padding-left: 20px; }
#colophon div.menu-footer-form-fr-container ul#menu-footer-form-fr li a { color: #425357; text-transform: none; font-family: 'DroidSans'; font-size: 12px; text-decoration: none;  } /*COULEUR ORIGINAL #5c777f*/
#colophon div.menu-footer-form-fr-container ul#menu-footer-form-fr li a:hover { text-decoration: underline; }
#colophon div.coordonnees { position: relative; clear: both; }
#colophon div.coordonnees h3 { text-transform: uppercase; display: block; width: 150px; position: absolute; left: 110px; top: 25px; color: #425357; font-family: 'DroidSans'; font-size: 13px; } /*COULEUR ORIGINAL #5c777f*/
#colophon div.coordonnees div.address { width: 250px; position: absolute; left: 300px; top: 25px; color: #425357; font-family: 'DroidSans'; font-size: 13px; } /*COULEUR ORIGINAL #5c777f*/
#colophon div.coordonnees div.email { width: 250px; position: absolute; left: 550px; top: 25px; color: #425357; font-family: 'DroidSans'; font-size: 13px; } /*COULEUR ORIGINAL #5c777f*/
#colophon div.coordonnees div.email a { color: #425357; font-family: 'DroidSans'; font-size: 13px; text-decoration: none; } /*COULEUR ORIGINAL #5c777f*/
#colophon div.coordonnees div.email a:hover { text-decoration: underline; }
#colophon div.coordonnees div.credits { width: 150px; position: absolute; left: 800px; top: 25px; color: #425357; font-family: 'DroidSans'; font-size: 10px; } /*COULEUR ORIGINAL #5c777f*/
#colophon div.coordonnees div.credits a { color: #425357; font-family: 'DroidSans'; font-size: 10px; text-decoration: none; } /*COULEUR ORIGINAL #5c777f*/
#colophon div.coordonnees div.credits a:hover { text-decoration: underline; }

table#searchresult tr td { height: 24px; padding: 12px 12px 12px 0px; vertical-align: middle; border: none; border-top: dotted 1px #8d8d8d; }

body .gform_wrapper form .left_label input.medium { width: 60%; }

/*Page article - blog*/
body.single-post #content #nav-above {display:none;}
body.single-post #main #secondary {display:none;}
body.single-post #main #primary {float:none; width: initial; margin-right: 0px; padding: 0px;}
body.single-post article .entry-header {margin-top: 50px;}
body.single-post article .entry-header .barre-haut {height: auto; width: 100%;}
body.single-post article .entry-header .category {color:#fff; float:left; width: 25%; padding-top: 15px; padding-bottom: 15px; padding-left: 47px; box-sizing: border-box;}
body.single-post article .entry-header .auteur {float:right; width: 75%; padding-top: 15px; padding-bottom: 15px; padding-right: 47px; box-sizing: border-box; text-align: right; color: #fff;}

body.single-post article .entry-header h1 {width: 100%; text-align: center; color: #fff; font-size: 35px; font-weight: bolder; padding-top: 30px; margin-top: -50px; text-shadow: 2px 2px #002f55; box-sizing: border-box; padding-left: 10%; padding-right:10%;}
body.single-post article .entry-header .feature-img {height: 400px; background-repeat: no-repeat; background-size: cover;}
body.single-post article .entry-content {margin-top: 0px;}
body.single-post article .entry-content .intro {color:#fff; padding: 20px 30px; margin-bottom: 25px; font-size: 18px;}
body.single-post article .entry-content h3:before { content: " "; display: inline-block; vertical-align: baseline; height: 15px; line-height: 20px; margin-right: 10px; width: 15px;}
body.single-post article footer.entry-meta {display:none;}
body.single-post #nav-below .nav-previous, body.single-post #nav-below .nav-next {padding:30px 0px 30px 0px;}
body.single-post #nav-below a {text-decoration:none; /*color: #fff; padding: 20px 50px;*/}
/*body.single-post article .entry-content h3+p:first-letter {font-size: 30px;}  si on l'utilise, il faut ajuster le line-height*/
body.single-post article .entry-content table {border-spacing: 0; border-collapse: collapse; margin-bottom: 24px; line-height: 1.3; width: 100%;}
body.single-post article .entry-content table tr:first-child td {color: #fff; font-size: 20px; padding: 12px 20px;}
body.single-post article .entry-content td { padding: 20px;}
body.single-post article .entry-content td ul {margin-left: 30px; list-style: none;}
body.single-post article .entry-content td ul li {margin-bottom: 10px; position: relative;}
body.single-post article .entry-content td ul li:before {content: '■'; font-size: 16px; position: absolute; left: -20px; top: 4px;line-height: 20px; top: 0px;}
body.single-post article .entry-content .exergue {text-transform: uppercase; padding: 20px; text-align: center; font-size: 18px;}
body.single-post article .entry-content .exergue + p {margin-top: 30px;}
body.single-post article .entry-content blockquote {text-transform: uppercase; font-size: 18px; text-align: center; color: #000; font-style: normal; line-height: 1.6em; position: relative; margin: 35px 0;}
body.single-post article .entry-content blockquote p {text-align: center; width: 90%; margin-left: auto; margin-right: auto;}

body.single-post article#post-792 .entry-header .feature-img {background-position: 0% 80%;}

body.single-post article .entry-content blockquote:before, .entry-content blockquote:after { font-family: "format-legal"; text-transform: none; font-size: 80px; position: absolute;}

body.single-post article .entry-content blockquote:before { content: "“"; left: 0px; top: 20px; }

body.single-post article .entry-content blockquote:after { content: "„"; right: 0px; bottom: 28px; }

body.single-post article .entry-content .sign { font-size: 14px; text-transform: none; color: #737373; text-align: center; width: 90%; margin-left: auto; margin-right: auto;}
body.single-post article .entry-content li {list-style-type: none; position: relative; margin-bottom: 10px;}
body.single-post article .entry-content li:before { content: '■'; font-size: 16px; position: absolute; left: -20px; top: 4px; line-height: 20px; }

body.demo2018.single-post article {padding-top: 75px;}
body.demo2018.single-post article .entry-content {padding-left:15px; padding-right: 15px;}
body.demo2018.single-post article .entry-content .intro { margin-left: -15px; margin-right: -15px;}

body.demo2018 #page #masthead ul#menu-principal-fr li ul.sub-menu {display:none;}
body.demo2018 #page #masthead ul#menu-principal-fr li.active ul.sub-menu {display: block;}
body.demo2018 #page #masthead ul#menu-principal-fr li.active ul.sub-menu li {width: 100%!important;}


body.demo2018.city .entry-content.etude { width: 70%; float: left; min-height: 700px; }
body.demo2018.city .entry-content.etude ul.etude-list { margin-top: 95px; background-color: #FFF; padding: 40px; box-sizing: border-box; min-height: 503px; }
body.demo2018.city .entry-content.etude ul.etude-list li { padding-left: 20px; }

html body.demo2018.e2016.etude #page #masthead ul#menu-principal-fr { height: 20px; }
html body.demo2018.e2016.etude #page #masthead ul#menu-principal-fr li{
	width: 16.666% !important;
}

/*responsive*/

@media (max-width: 1200px) {
	body.demo2018 #page .header #map {bottom: 150px;}
}

@media (max-width: 1024px) {
	body.demo2018 #page .header h1 {font-size: 45px; left: calc(50% - 212px); top: 250px;}
	body.demo2018 #page .header h2 {font-size: 22px; left: calc(50% - 235px); top: 335px;}
	body.demo2018 #page .header #map {bottom: 125px;}
	body.demo2018 #page .header .social a {font-size: 45px;}
	body.demo2018.page-template-home #main #primary #content div.avantage > a {bottom: 55px;}

}

@media (max-width: 768px) {
	body.demo2018 #page header#masthead {height: 145px;}
	body.demo2018 #page header#masthead hgroup {top:30px;}
	body.demo2018 #page #masthead nav.site-navigation.main-small-navigation #menu-principal-fr li a {box-sizing: border-box;}
	body.demo2018 #page #masthead ul#menu-principal-fr li ul.sub-menu li a {box-sizing: border-box;}
	body.demo2018 #page #masthead #menu-principal-fr li.menu-item.active ul.sub-menu {box-sizing: border-box;}
	body.demo2018 #page #masthead ul#menu-principal-fr li ul.sub-menu {margin-left: 0px;}
	body.demo2018 #page #masthead nav.site-navigation.main-small-navigation #menu-principal-fr li, body.demo2018.e2016.etude #page #masthead.site-header ul#menu-principal-fr li {width: 100%!important;}
	body.demo2018.e2016.etude #page #masthead.site-header ul#menu-principal-fr li {height: auto;}
	body.demo2018 #page .header h1 {top: 210px;}
	body.demo2018 #page .header h2 {top: 285px;}
	body.demo2018 #page .header #map h3 {margin-top: 35px; font-size: 26px;}
	body.demo2018 #page .header #map #scity, body.demo2018 #page .header #map #citydd {height: 25px; padding-top: 0px; padding-bottom: 0px;}
	body.demo2018 #page .header .social a {font-size: 40px;}
	body.demo2018 #page div#primary {margin-left: auto; margin-right: auto;}
	body.demo2018 #page #colophon div#menu-footer-thematiques {box-sizing: border-box;}
	body.demo2018 #page #colophon div.menu-footer-thematiques-fr-container {padding-left: 0px;}
	body.demo2018 #page #colophon .menu-footer-secteurs {left:0px;}
	body.demo2018 footer#colophon div#menu-footer-thematiques ul#menu-footer-thematiques-fr li#menu-item-205, body.demo2018 footer#colophon div#menu-footer-thematiques ul#menu-footer-thematiques-fr li#menu-item-252, body.demo2018 footer#colophon div#menu-footer-thematiques ul#menu-footer-thematiques-fr li#menu-item-253 {width: 100%;}
	body.demo2018.e2016.etude #page div.header {background-color: inherit;}
	html body.demo2018.e2016.op2016 .logo {display: block;}
	body.demo2018.e2016.etude #page #logo-pmeinter {margin-top:25px; width: 30%;}
	body.demo2018.e2016.etude .navigation-toggle-label {margin-top: 55px;}
	body.demo2018.e2016.op2016 .ss-phone {top: 45px; left: 85px;}
	html body.demo2018.e2016.op2016 .header-inner .navigation ul.navigation-menu  {margin-top: 95px;}
	body.demo2018.e2016.op2016 .ss-phone div a {padding-bottom: 0px;}
	body.demo2018 #page #colophon div#menu-footer-city {margin-left: 0px;}
	body.demo2018 #page #colophon div#menu-footer-city div.content {padding-left: 10px;}
	body.demo2018 #page #colophon div.menu-footer-form-fr-container {margin-left: 0px;}
	body.demo2018 footer#colophon div.menu-footer-form-fr-container ul#menu-footer-form-fr li {padding-left: 10px;}
	body.demo2018 #page footer#colophon div.coordonnees #logo-pmeinter-footer {margin-left: 10px;}
	body.demo2018 #page footer#colophon div.coordonnees h3 {left: 80px;}
	body.demo2018 #page footer#colophon div.coordonnees .address {left: 80px;}
}

@media (max-width: 650px) {
	body.demo2018 #page .header h1 {font-size: 36px; left: calc(50% - 170px); top: 180px;}
	body.demo2018 #page .header h2 {font-size: 20px; left: calc(50% - 214px); top: 240px;}
	body.demo2018 #page .header #map h3 {margin-top: 35px; font-size: 22px;}
	body.demo2018 #page .header .social a {font-size: 30px;}
}

@media (max-width: 500px) {

	body.demo2018.city .entry-content.etude { width: 100%; float: none; min-height: auto; }

	body.demo2018 #page .header h1 {font-size: 30px; left: calc(50% - 142px); top: 150px;}
	body.demo2018 #page .header h2 {font-size: 18px; left: 10%; width: 80%; top: 190px; text-align: center;}
	body.demo2018 #page .header #map {position :relative; bottom: 25px; left: 30%; width: 70%; height: 140px;}
	body.demo2018 #page .header #map h3 {margin-top: 0px; color: #425357; text-shadow:none; font-size: 18px;}
	body.demo2018 #page .header #map #mapsubmit {float: none; margin-left: 0px; margin-top: 10px; width: 30px; height: 30px;}
	body.demo2018 #page .header .social {bottom: 30px; }
	body.demo2018 #page .header .social a {color: #425357; text-shadow: 2px 2px 5px #CCC;}
	body.demo2018.page-template-home #main #primary #content .row.format_legal h2 {font-size: 36px;}
	body.demo2018.page-template-home #main #primary #content .row.format_legal h3 {width: 100%; font-size: 36px; padding-top: 20px;}
	body.demo2018.page-template-home #main #content .row.format_legal p a.btn:first-child {margin-bottom: 22px;}
}
@media (max-width: 400px){
	body.demo2018.page-template-home #main #primary #content .row.format_legal h2 {font-size: 28px;}
	body.demo2018.page-template-home #main #primary #content .row.format_legal h3 {font-size: 28px;}
	body.demo2018.page-template-home #main #primary #content .row.format_legal p {font-size: 18px;}
	body.demo2018.page-template-home #main div.header img.size-full {display:none;}
	body.demo2018.page-template-home #page .header h1 {display: none;}
	body.demo2018 #page #masthead hgroup #logo-pmeinter	{width:70px;}
	body.demo2018.page-template-home #main div.header {height: 220px;}
	body.demo2018 #page .header h2 {top: 0px; color: #425357; text-shadow: 2px 2px 5px #CCC; left: 30%; width: 70%; position:relative; padding-right: 5px; box-sizing: border-box;}
	body.demo2018.page-template-home #page .header #map {position: absolute; bottom: 10px; z-index:98;}
	body.demo2018.page-template-home #page .header .social {z-index: 98;}
	body.demo2018 #page header#masthead {height: 120px;}
	body.demo2018.page-template-home #page header#masthead {height: 0px;}
	body.demo2018 #page #masthead #menu-principal-fr li.menu-item.active ul.sub-menu { padding-left: 10px; }
	body.demo2018 #page #masthead nav.site-navigation.main-small-navigation #menu-principal-fr li a {height: 30px; padding-left:12px;}
	body.demo2018.page-template-home #main #content .row.videos .video iframe { height: 165px !important; width: 320px !important; }
	body.demo2018.page-template-home #main #content .row.videos .video { height: 300px; }
	body.demo2018.page-template-home #main #primary #content .row.videos div.center #prev { font-size: 32px; top: 235px; z-index: 200; }
	body.demo2018.page-template-home #main #primary #content .row.videos div.center #next { font-size: 32px; top: 235px; z-index: 200; }
	body.demo2018.page-template-home #page #main #primary #content.site-content .row.videos {padding-right: 0px; padding-left: 0px;}
	body.demo2018.page-template-home #main #primary #content h2 {font-size: 22px}

	div#expertise-nav {padding-left: 0px; margin-left: 0px; height: auto; background-image: none;}
	div#expertise-nav ul li {float: none; margin-left: 0px; padding-left: 0px; width: 100%;}
	li.changement-nom {width: 100%; box-sizing: border-box;}
	body.page-id-513 ul.col li {padding-right:0px;}
	body.page-id-513 ul.col li span {display:none;}
	body.demo2018.page-template-default #main #secondary #souspages {max-width: 288px;}
	html body.demo2018.map #page div.map {width: 100%; margin-left: 0%;}
	body.demo2018.map #page #main {padding-left: 10px; padding-right: 10px;}

}


.section-images {
	display: flex;
	width:100%;
}

.section-images .left, .section-images .right{
	width:50%;
	padding:5px;
}

.section-images a img{
	max-width:100%;
}

@media (max-width: 768px){
	.section-images{
		display:block;
	}
	.section-images .left, .section-images .right{
		width:100%;
	}
}